<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" style="height: 100%"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
    </h:head>
    <h:body style="height: 100%">
        
        <h:form id="frmComentario">
            <input type="hidden" name="info" value="#{ComentarioIA.info}" />   
            
            <h:panelGroup rendered="#{ComentarioIA.infoAdicional}" style=" height: 100px;">
                <div class="alert alert-info">
                    <p:outputLabel value="#{ComentarioIA.comentarioIA}"/>
                </div> 
            </h:panelGroup>
            <h:panelGroup rendered="#{!ComentarioIA.infoAdicional}" style=" height: 100px;">
                <div class="alert alert-info">
                    <table>
                        <tr>
                            <td style="padding-right:10px;">
                                <label>Modificar información:  </label>
                            </td>
                            <td>
                                <h:selectBooleanCheckbox id="chkInfoAdicE" value="#{ComentarioIA.modificaSec}" class="checkbox" onclick="parent.bloq1();">
                                  
                                </h:selectBooleanCheckbox>                                   
                            </td>                                       
                        </tr>
                    </table>
                </div>            
            </h:panelGroup>
        </h:form>
    </h:body>
</html>