<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/jquery.omniwindow.js"></script>
        <script src="#{request.contextPath}/assets/js/modarchivos.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="#{request.contextPath}/assets/css/modarchivos.css" rel="stylesheet" media="screen"/>    
    </h:head>
    <h:body>
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <img src="http://virtual.uagro.mx/img/home/en-construccion.jpg" width="800" height="250" style="margin-top: 100px; margin-left: 50px; display: none"/>
        <div style="width: 960px;">
            <div class="form-group" >
                <h3>Sustancias
                </h3>
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                <h:form id="frmSus">
                    <ui:fragment rendered="#{!empty cap32.catEtapa}">
                        <h:dataTable id="dl" value="#{cap32.sustanciaProyectos}" var="obj" class="table">
                            <h:column>
                                <h:commandLink>
                                    <h:commandLink id="quitar" action="#{cap32.removeSustancia}">
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel-collapsed.png"/>
                                        <f:ajax render=":frmSus:dl" >
                                            <f:setPropertyActionListener target="#{cap32.sustanciaSeleccionada}" value="#{obj}"/>
                                        </f:ajax>
                                    </h:commandLink>
                                </h:commandLink>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Etapa" />
                                </f:facet>
                                <h:selectOneMenu id="etapa" value="#{obj.model.etapaId}" converter="#{converterCatEtapa}" style="width: 100px;" required="true"
                                                 requiredMessage="Debe elegir una etapa."> 
                                    <f:selectItems value="#{cap32.catEtapa}" var="et" itemLabel="#{et.etapaDescripcion}" />
                                </h:selectOneMenu>
                            </h:column>

                            <h:column>
                                <f:facet name="header" >
                                    <h:outputText class="requerido" value="Tipo de Sustancia" />
                                </f:facet>
                                <p:autoComplete style="border: 1px;opacity: 1; filter: Alpha(Opacity=100);" 
                                                completeMethod="#{cap32.completarSustancias}" value="#{obj.model.sustanciaId}"
                                                forceSelection="true" var="sust" required="true" requiredMessage="Debe seleccionar una sustancia del catálogo sugerido, si no se encuentra seleccione -Otra- y 
                                                aparecerá un cuadro de texto para capturar la sustancia."
                                                itemLabel="#{sust.sustanciaDescripcion}" itemValue="#{sust}"
                                                converter="#{convSustAltamR}" >
                                    <p:ajax event="itemSelect" listener="#{obj.actualizaCtunClve}" update=":frmSus:dl:Otra, :frmSus:dl:UnidadMedida"/>
                                </p:autoComplete>
                                <h:panelGroup id="Otra" >
                                    <h:panelGroup rendered="#{obj.otra}">
                                        <h:outputLabel value="Capture la Sustancia"/>
                                        <br/>
                                        <h:inputText value="#{obj.model.sustanciaPromovente}" required="#{obj.otra}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Cantidad Almacenada" />
                                </f:facet>
                                <h:inputText size="3" id="cantidad" value="#{obj.model.sustanciaCantidadAlmacenada}" required="true"
                                             requiredMessage="Debe capturar la cantidad que almacenará.">
                                    <p:ajax event="change" listener="#{cap32.verificaCantidad}" update=":frmSus:evalua" />
                                </h:inputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Unidad"/>
                                </f:facet>
                                <h:panelGroup id="UnidadMedida" >
                                    <h:outputLabel value="#{obj.model.sustanciaId.sustanciaUnidad}" rendered="#{!obj.otra}"/>
                                    
                                    <h:selectOneMenu style="width: 110px" id="uniSup"  value="#{obj.model.ctunClve}" required="#{obj.otra}" rendered="#{obj.otra}">
                                        <f:selectItems value="#{cap32.catUnidades}" var="l" itemValue="#{l.ctunClve}" itemLabel="#{l.ctunDesc}"/>
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                            </h:column>
                            
                            <!--
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Unidad" />
                                </f:facet>
                                <h:selectOneMenu style="width: 110px" id="uniSup"  value="#{obj.model.ctunClve}" required="true">
                                    <f:selectItems value="#{cap32.catUnidades}" var="l" itemValue="#{l.ctunClve}" itemLabel="#{l.ctunDesc}"/>
                                </h:selectOneMenu>
                            </h:column>
                            -->
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Hoja de Seguridad" />
                                </f:facet>
                                <h:panelGroup rendered="#{obj.anexo}">
                                    <iframe width="350" height="200" style="padding: 0px; margin-left: -10px; margin-top: -7px;" src='#{request.contextPath}/faces/modarchivos/cargaHojaSeguridad.xhtml?info=#{cap32.proyecto.proyectoPK.folioProyecto},#{cap32.proyecto.proyectoPK.serialProyecto},#{obj.model.sustanciaProyectoPK.sustProyId}' frameborder='0'></iframe>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{!obj.anexo}">
                                    Guarde la sustancia capturada para adjuntar una hoja de seguridad.
                                </h:panelGroup>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:commandLink action="#{cap32.addSustancia}" id="agrega"> 
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel.png"/>
                                        <p:ajax  process="@form" update=":frmSus:dl"/>
                                    </h:commandLink>
                                </f:facet>
                            </h:column>
                        </h:dataTable>
                        <h:panelGroup id="evalua">
                            <h:panelGroup id="pasa" rendered="#{!cap32.supera}">
                                <div class="form-group" style="float: right; margin-right: 50px">
                                    <p:commandButton id="guarda" value="Guardar" action="#{cap32.guardar}" oncomplete="parent.recargaMenu();" onclick="this.firstChild.innerHTML = 'Guardando...';
                                            this.disabled = true;" class="btn btn-primary" 
                                                     update="@form" process="@form" onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); 
                                                     parent.actualizaMenu();"/>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup id="noPasa" rendered="#{cap32.supera}">
                                <div class="alert alert-danger">
                                    <h:outputLabel value="La ultima sustancia supera la cantidad permitida y para esta norma no aplica el Estudio de Riesgo Ambiental."/>
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </ui:fragment>

                    <ui:fragment rendered="#{empty cap32.catEtapa}">
                        <br/>
                        <div class="alert alert-danger">
                            <h:outputLabel value="No se ha registrado ninguna etapa del proyecto, 
                                           proceda a registrar una para continuar con la captura." style=" "/>
                           
                        </div>
                     
                    </ui:fragment>
                    <h:messages id="msj" style="color: tomato;"/>
                </h:form>

            </div>
        </div>

        <script>
            $('#case_btn_ayuda').click({capitulo: 3, subcapitulo: 2, seccion: -1, nsec: 1}, case_ayuda);
        </script>
    </h:body>

</html>