<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>   
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>

    </h:head>
    <body>
        <h:form id="f_cap24">    

            <h:panelGroup id="principal"> 

                <div id="DatosGeneralesREEIA"  >
                    <h3>Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental</h3>


                    <p:growl id="messages"/> 
                    <div class="form-group" style="margin-left:20px;">
                        <label class="control-label" for="nombRespTec" style="margin-left:-10px;">¿El responsable técnico de la elaboración del estudio es el mismo que el representante legal?</label>		
                        <h:selectOneRadio layout="pageDirection" value="#{cap2RepLegal.flag}" >
                            <f:selectItem itemValue="true" itemLabel="Sí" />
                            <f:selectItem itemValue="false" itemLabel="No" />
                            <p:ajax update=":f_cap24:principal"/>
                        </h:selectOneRadio>
                    </div>   
                    <h:panelGroup id="representantes" rendered="#{cap2RepLegal.flag != null}">

                        <h:panelGroup rendered="#{cap2RepLegal.flag}">
                            <ui:fragment rendered="#{!empty cap2RepLegal.representantesSelect}">

                                Seleccione un Representante Legal:
                                <h:selectOneListbox value="#{cap2RepLegal.curp}">
                                    <f:selectItems value="#{cap2RepLegal.representantesSelect}" var="rep" itemLabel="#{rep.vccurp}: #{rep.vcnombre} #{rep.vcapellido1}"/>
                                </h:selectOneListbox>
                            </ui:fragment>
                            <ui:fragment rendered="#{empty cap2RepLegal.representantesSelect}">
                                <div class="alert alert-danger">
                                    <h:outputLabel value="No hay ningún representante legal registrado para este proyecto."/>
                                </div>
                            </ui:fragment>
                        </h:panelGroup>

                        <h:panelGroup id="pRespTec" rendered="#{!cap2RepLegal.flag}">                  
                            <div class="form-group">
                                <label class="control-label" for="RFCProm"><span class="requerido">RFC:</span></label>
                                <h:inputText class="form-control"  value="#{cap2RepLegal.respTecProyecto.respTecRfc}"/>
                            </div>   
                            <div class="form-group">
                                <label class="control-label" for="RFCProm"><span class="requerido">CURP:</span></label>
                                <h:inputText class="form-control"  value="#{cap2RepLegal.respTecProyecto.respTecCurp}"/>
                            </div>  
                            <div class="form-group">
                                <label class="control-label" for="RFCProm"><span class="requerido">Nombre del responsable técnico:</span></label>
                                <h:inputText class="form-control"  value="#{cap2RepLegal.respTecProyecto.respTecNombre}"/>
                            </div>  
                            <div class="form-group">
                                <label class="control-label" for="RFCProm"><span class="requerido">Apellido Paterno:</span></label>
                                <h:inputText class="form-control"  value="#{cap2RepLegal.respTecProyecto.respTecApellido1}"/>
                            </div>  
                            <div class="form-group">
                                <label class="control-label" for="RFCProm"><span class="requerido">Apellido Materno:</span></label>
                                <h:inputText class="form-control" value="#{cap2RepLegal.respTecProyecto.respTecApellido2}"/>
                            </div>  

                            <div class="form-group" style="display: none;">
                                <label class="control-label" for="CartaProtREEIA"><span class="requerido">Carta bajo protesta de decir verdad:</span></label>
                                <h:inputText class="form-control" value="#{cap2RepLegal.respTecProyecto.respTecCartaVerdad}"/>
                            </div>    

                        </h:panelGroup> 
                        <div class="form-group" style="float: right;margin-right:2px;">   
                            <p:commandButton value="Guardar" action="#{cap2RepLegal.guardarREEIA}" 
                                             process="@form" update="@this"
                                             oncomplete="parent.recargaMenu();" 
                                             onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra();parent.actualizaMenu();" onclick="this.firstChild.innerHTML='Guardando...';this.disabled = true;"
                                             class="btn btn-primary"/>
                        </div> 
                    </h:panelGroup>

                </div> 

            </h:panelGroup>  

        </h:form>  

    </body>
</html>
