<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
    </h:head>
    <h:body style="width:960px">
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <h:form id="formCaracPartProy" role="form" class="form_horizontal">
            <div id="MediCompDesActPreser" >
                <h3>Descripción de las medidas de compensación o desarrollo de actividades 
                    destinadas a la preservación.
                </h3>                    
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <div class="form-group">
                    <h:outputLabel class="control-label" for="CaPaPr"><span class="requerido">Describa las medidas tendientes a la preservación.</span></h:outputLabel>
                    <pe:ckEditor value="#{cap34.proyecto.proyDescMedidasCompen}" id="CaPaPr" class="form-control" 
                                 toolbar="[['Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"
                                 width="700"/>
                </div>                    
            </div>

            <div id="ProtecConsEcosis" >
                <h3>Descripción de la protección o conservación de ecosistema que requieran de implementación de dichas actividades
                </h3>
                <div class="form-group">
                    <h:outputLabel class="control-label" for="CaPaEc"><span class="requerido">Describa la Protección o Conservación de dichas actividades.</span></h:outputLabel>
                    <pe:ckEditor id="CaPaEc" value="#{cap34.proyecto.proyDescProtecConserv}" class="form-control" 
                                 toolbar="[['Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"
                                 width="700"/>
                </div>
            </div>	
            <div class="form-group" style="float:right;margin-right:10px;">

                <p:commandButton id="guarda" value="Guardar" action="#{cap34.guarda}" oncomplete="parent.recargaMenu();" onclick="this.firstChild.innerHTML='Guardando...';this.disabled = true;" class="btn btn-primary"
                                 update="@this" process="@form" onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra();parent.actualizaMenu();" />

            </div>  
        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 3, subcapitulo: 6, seccion: 1, nsec: 1}, case_ayuda);
        </script>
    </h:body>
</html>
