<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  

    </h:head>
    <h:body style="width:960px">
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <h:form id="formSus"  class="form-horizontal">

            <div id="EmiResDes" >
                <h3>Emisiones, residuos, descargas
                </h3>                
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <div class="form-group">
                    <label class="control-label" for="sust"><span class="requerido">Ingresar sólo las sustancias que se utilicen dentro de la etapa de operación.</span></label>
                </div>
                <div class="form-group">
                    <ui:fragment rendered="#{!empty cap32.catEtapa}">
                        <h:dataTable id="dl" value="#{cap33.contaminanteProyectos}" var="obj" class="table">
                            <h:column>
                                <h:commandLink>
                                    <h:commandLink id="quitar" action="#{cap33.dropResiduo}">
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel-collapsed.png"/>
                                        <f:ajax render=":formSus:dl">
                                            <f:setPropertyActionListener target="#{cap33.contaminanteProyectoSelect}" value="#{obj}"/>
                                        </f:ajax>

                                    </h:commandLink>
                                </h:commandLink>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Emisiones, residuos, descargas" />
                                </f:facet>
                                <h:selectOneMenu value="#{obj.seleccion}" >
                                    <f:selectItems value="#{obj.catTipoContaminante}" var="tipo" itemLabel="#{tipo.tipoContaminanteDescripcion}"/>
                                    <f:ajax listener="#{cap33.cargaContaminantes}" render=":formSus" execute=":formSus:dl"/>
                                </h:selectOneMenu>
                            </h:column>
                            <h:column id="catalogo">
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Tipo de Contaminante" />
                                </f:facet>
                                <h:selectOneMenu id="tipo" value="#{obj.contaminante.catContaminante}" 
                                                 converter="#{catTipoContaminanteConverter}" required="true" requiredMessage="Seleccione un tipo de contaminante."> 
                                    <f:selectItems value="#{obj.catContaminante}" var="cont" itemLabel="#{cont.contaminanteNombre}"/>
                                </h:selectOneMenu>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Etapa" />
                                </f:facet>
                                <h:selectOneMenu id="etapa" value="#{obj.contaminante.catEtapa}" converter="#{converterCatEtapa}"> 
                                    <f:selectItems value="#{cap32.catEtapa}" var="et" itemLabel="#{et.etapaDescripcion}" />
                                </h:selectOneMenu>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Cantidad" />
                                </f:facet>
                                <h:inputText id="cantidad" size="4" value="#{obj.contaminante.contaminanteCantidad}" required="true" requiredMessage="Capture la cantidad."/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Unidad" />
                                </f:facet>
                                <h:selectOneMenu style="width: 100px" id="uniSup"  value="#{obj.contaminante.ctunClave}" >
                                    <f:selectItems value="#{cap32.catUnidades}" var="l" itemValue="#{l.ctunClve}" itemLabel="#{l.ctunDesc}"/>
                                </h:selectOneMenu>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Medida de control" />
                                </f:facet>
                                <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlg#{obj.id}.show()" class="btn btn-default" style="height: 20px; padding-left: 10px"/>
                                <p:dialog  widgetVar="dlg#{obj.id}" position="top" modal="true" width="600" height="500" header="Medida de control">
                                    <p:inputTextarea id="control" value="#{obj.contaminante.contaminanteMedidaControl}"
                                                     cols="67" rows="20" maxlength="3000"
                                                     counter="contador" counterTemplate="Quedan {0} caracteres."/>
                                    <br/>
                                    <h:outputText id="contador" />
                                </p:dialog>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:commandLink action="#{cap33.addResiduo}"> 
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel.png"/>
                                        <p:ajax  process="@form" update=":formSus:dl"/>
                                    </h:commandLink>
                                </f:facet>
                                <h:panelGroup/>
                            </h:column>
                        </h:dataTable>
                        <div class="form-group" style="float:right;margin-right:10px;">
                            <p:commandButton id="btn_guarda" value="Guardar" action="#{cap33.guardar}" oncomplete="parent.recargaMenu();"
                                             onclick="this.firstChild.innerHTML='Guardando...';this.disabled = true;" class="btn btn-primary" 
                                             update="@this" process="@form" onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra();parent.actualizaMenu();"
                                             />
                        </div>
                        <h:messages id="msj" style="color: tomato;"/>
                    </ui:fragment>

                </div>                
                <ui:fragment rendered="#{empty cap32.catEtapa}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No se ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
            </div>
        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 3, subcapitulo: 3, seccion: -1, nsec: 1}, case_ayuda);
        </script>
    </h:body>
</html>