<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>    </h:head>
    <h:body>
        <h:form>
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="pRadios" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Radios Ponteciales de Afectación</h3>
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/><center>
                    <pe:ckEditor value="#{capitulo4View.estudio.estudioRadiosPotenciales}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                </center>
                <!-- anexos -->
                Anexos:
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,3,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>

            <div id="pInte" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Interacciones de Riesgo</h3>
                <button id="case_btn_ayuda1" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/><center>
                    <pe:ckEditor value="#{capitulo4View.estudio.estudioInteraccionesRiesgo}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                </center>
                <!-- anexos -->
                Anexos:
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,3,2,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>

            <div id="pEfec" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Efectos Sobre el Área de Influencia</h3>
                <button id="case_btn_ayuda2" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/><center>
                    <pe:ckEditor value="#{capitulo4View.estudio.estudioEfectosAreaInflu}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                </center>
                <!-- anexos -->
                Anexos:
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,3,3,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>
            <br/>
            <div style="float: right">
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo4View.guardar}"
                                 update="@this" process="@form"
                                 onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); parent.actualizaMenu();"
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
            </div>

            <script>
                $('#case_btn_ayuda').click({capitulo: 4, subcapitulo: 3, seccion: 1, nsec: 1}, case_ayuda);
                $('#case_btn_ayuda1').click({capitulo: 4, subcapitulo: 3, seccion: 2, nsec: 1}, case_ayuda);
                $('#case_btn_ayuda2').click({capitulo: 4, subcapitulo: 3, seccion: 3, nsec: 1}, case_ayuda);
            </script>

        </h:form>
    </h:body>
</html>