<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
    </h:head>
    <h:body style="width:960px"> 
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <h:form id="frmSus" class="form-horizontal">
            <div id="IdenImpAmb" >
                <h3>Resultados de la Evaluación de los Impactos Ambientales y Medidas de Mitigación</h3>            
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <div class="form-group">
                    
                </div>
                <ui:fragment rendered="#{!empty cap32.catEtapa}">
                    <br/>
                    <p>Adjuntar Archivo</p>
                    <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,5,1,1,#{cap35.proyecto.proyectoPK.folioProyecto},#{cap35.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                    <div class="form-group" style="margin-top: 10px; margin-left: 10px;">
                        <h3 style="font-size: 20px; font-weight: 200;">Tabla resumen de Impactos Ambientales y Medidas de Mitigación</h3>
                        <h:dataTable id="dl2" value="#{cap35.impactoProyectos}" var="imp" styleClass="table" rendered="true">
                            <h:column>
                                <h:commandLink>
                                    <h:commandLink id="quitar" action="#{cap35.quitarImp}">
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel-collapsed.png"/>
                                        <f:ajax render=":frmSus">
                                            <f:setPropertyActionListener target="#{cap35.impactoProyectoSelect}" value="#{imp}"/>
                                        </f:ajax>
                                    </h:commandLink>
                                </h:commandLink>
                            </h:column>
                            <h:column>
                                <table>
                                    <tr>
                                        <td colspan="2" style="text-align: right">Etapa</td>
                                        <td colspan="2" style="text-align: left">
                                            <h:selectOneMenu value="#{imp.impacto.etapaId}" converter="#{converterCatEtapa}"> 
                                                <f:selectItems value="#{cap32.catEtapa}" var="et" itemLabel="#{et.etapaDescripcion}" />
                                            </h:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: left"><label class="control-label" for="sust"><span class="requerido">Impacto Ambiental</span></label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><p:inputTextarea value="#{imp.impacto.impactoDescripcion}" maxlength="1000" rows="10" cols="100" autoResize="false" scrollHeight="50" required="true" requiredMessage="Capture la descripción." /> </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlgMM#{imp.id}.show()" class="btn btn-default" style="height: 20px; padding-left: 10px"/>
                                            <p:dialog  widgetVar="dlgMM#{imp.id}" position="top" modal="true" width="600" height="500"
                                                       header="Medida de mitigación">
                                                <h:inputTextarea id="medida" value="#{imp.impacto.impactoMedidaMitigacion}"
                                                                 cols="67" rows="20"/>
                                            </p:dialog>
                                        </td>
                                        <td><label class="control-label" for="sust"><span class="requerido">Medida de mitigación</span></label></td>
                                        <td>
                                            <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlgMA#{imp.id}.show()" class="btn btn-default" style="height: 20px; padding-left: 10px"/>
                                            <p:dialog  widgetVar="dlgMA#{imp.id}" position="top" modal="true" width="600" height="500"
                                                       header="Medida adicional a los impactos">
                                                <h:inputTextarea id="adicional" value="#{imp.impacto.impactoMedidaAdicional}"
                                                                 cols="67" rows="20"/>
                                            </p:dialog>
                                        </td>
                                        <td>Medida adicional a los impactos</td>
                                    </tr>
                                </table>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:commandLink action="#{cap35.agregaImp}"> 
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel.png"/>
                                        <p:ajax  process="@form" update=":frmSus:dl2"/>

                                    </h:commandLink>
                                </f:facet>
                                <h:panelGroup/>
                            </h:column>
                        </h:dataTable>
                    </div>  
                    <div class="form-group" style="float:right;margin-right:10px;">
                        <p:commandButton id="guarda" value="Guardar" action="#{cap35.guardar}" oncomplete="parent.recargaMenu();" onclick="this.firstChild.innerHTML = 'Guardando...';
                                this.disabled = true;" class="btn btn-primary"
                                         update="@this" process="@form" onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra();parent.actualizaMenu();"/>
                    </div>
                    <h:messages style="color: tomato;"/>
                </ui:fragment>
                <ui:fragment rendered="#{empty cap32.catEtapa}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No se ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
            </div>
        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 3, subcapitulo: 5, seccion: -1, nsec: 1}, case_ayuda);
        </script>
    </h:body>
</html>