<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/vendor/bootstrap.js"></script>
        <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <body>
        <h:form>
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="ResponsableEstRies" >
                <h:panelGrid columns="1">

                    <h3>Datos Generales</h3>
                    Ayuda <button id="case_btn_ayuda" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                    <div class="form-group">

                        <h:outputText styleClass="control-label" value="Nombre o razón social de la empresa responsable de elaborar el estudio de riesgo:"/>
                        <p:inputText value="#{capitulo4View.estudio.estudioNomRespEla}" styleClass="form-control"/>
                        <h:outputText styleClass="control-label" value="RFC:"/>
                        <h:inputText value="#{capitulo4View.estudio.estudioRfcRespEla}" styleClass="form-control"/>
                        <h:outputText styleClass="control-label" value="Nombre del representante legal:" />
                        <h:inputText value="#{capitulo4View.estudio.estudioNomRpteLegal}" styleClass="form-control"/>
                        <h:outputText styleClass="control-label" value="RFC del representante legal:" />
                        <h:inputText value="#{capitulo4View.estudio.estudioRfcRpte}" styleClass="form-control"/>
                    </div>
                    <br/>
                    <div style="float: right">
                        <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo4View.guardar}" update="@this" process="@form"
                                         onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); parent.actualizaMenu();"
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
                    </div>
                </h:panelGrid>
            </div>

        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 4, subcapitulo: 1, seccion: -1, nsec: 1}, case_ayuda);
        </script>

    </body>
</html>
