.semarnat_ayuda {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 300px;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    display: none;
}

.semarnat_ayuda_cont {
    text-align: justify;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 12px;
}