/* 
    Created on : 24/06/2015, 01:16:10 PM
    Author     : ana.olvera
*/
html, body{
    height: 100%;
}
.breadcrumb{
    font-size: 14px;
}
#content{
    margin-top: 40px;
}
.progress{
    margin-top: 15px;
    
}
.progress span{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.txtComp{
    color: black;
    font-size: 16px;
}

.txtBrand{
    font-weight: bold;
    font-size: 20px;
}

.txtLabel{
    font-weight: lighter;
    font-size: 14px;
}
.txtBtn{
    
    font-size: 16px;
}
#menu{
    margin-top: 0px;
}
a, a:active, a:checked{
    text-decoration: none;
}

#pagoSub2 table{
    font-size: 14px;
}

#pagoSub2 table tfoot{
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
}
.ui-datatable table{
    table-layout: auto;
    width: 60%;
}
.ui-datatable table tbody td{
    text-align: center;
}

#accordion .list-group .list-group-item{
    font-size: 14px;
}
.titulosMenu{
    font-size: 14px;
}

.iconSize{
    font-size: 16px;
    color: black;
}
