div.progress {
  margin: 560px;
  padding: 0;
  width: 340px;
  height: 420px;
  background-color: #eef;
  border: 555px solid black;
}

div.progressIndicator {
  margin: 10px;
  padding: 0;
  background-color: #fbcb46;
  position: absolute;
  top: 0;
  left: 0px;

  width: 50%;
  height: 100%;
}
  
div.progressVal  {
  position: relative;
  top: -18px;
  margin: 0;
  padding: 0;
  height: 450px;
  text-align: center;
  font-weight: bold;
}

.hidden {
  position: absolute !important;
  top: -20em;
  left: -200em;
}

.focus {
  background-color: #eee !important;
}