<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/funciones.js"></script>
        <script src="../../assets/js/vendor/bootstrap.js"></script>
        <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <h:body>
        <h:form>
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="pPlaLoFo" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Planos de localización y Fotografías</h3>
                Ayuda <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/>
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=4,6,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>

            <div id="pOtroAnexos" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Otros Anexos</h3>
                Ayuda <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/>
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=4,6,2,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>
            <br/>
        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 4, subcapitulo: 6, seccion: 1, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda1').click({capitulo: 4, subcapitulo: 6, seccion: 2, nsec: 1}, case_ayuda);
        </script>

    </h:body>
</html>
