<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>        
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="#{request.contextPath}/assets/css/modarchivos.css" rel="stylesheet" media="screen"/>
        <script src="#{request.contextPath}/assets/js/jquery.omniwindow.js"></script>
        <script src="#{request.contextPath}/assets/js/modarchivos.js"></script>
    </h:head>
    <body>
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <h:form id="f_cap1">
            <h:panelGroup id="principal">  
            	<p:commandButton id="guiaBoton" value="Guía PDF" 		                				
		                				action="#{capitulo2View.abreGuias}"
		                				disabled="#{capitulo2View.desactivaBtnGuia}"
		                				class="btn btn-primary"
		                				style="float:right;"/>
                <h:panelGroup id="DatosGeneraless">  
                <div id="DatosGenerales" class="gobmx-example" style="width:900px;"> 
                    <h3>Datos Generales del Proyecto.</h3>
                    <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                    <div class="form-group">

                        <label class="control-label" for="nombProy"><span class="requerido">Nombre del proyecto:</span></label>
                        <h:inputText id="nombProy" value="#{capitulo2View.nombreProy}" class="form-control"/>
                    </div>
                    
                    <p:outputPanel id="opSinNormaProyecto" rendered="#{capitulo2View.existeNormaProyecto == false}">
						<h:panelGroup id="PGSector">
	                        <div class="form-group">
	                            <label class="control-label" for="Sector">Sector:</label>                                                        
	                            <h:dataTable value="#{capitulo2View.sectorProyecto}" var="sector" >
	                                <h:column>
	                                    <h:inputText id="txtSector" value="#{sector[1]}" class="form-control" disabled="true"/>
	                                </h:column>
	                            </h:dataTable> 
	                        </div>
	                    </h:panelGroup>
	                    
	                    <h:panelGroup id="PGSubSector">
		                    <div class="form-group">
		                        <label class="control-label" for="Sector">Subsector:</label>
		                        <h:selectOneMenu class="form-control" value="#{capitulo2View.proyecto.nsub}" disabled="#{capitulo2View.blos}">
		                            <p:ajax listener="#{capitulo2View.seleccionaReferencia}" update="cmbRama PGSector guiaBoton" />
		                            <f:ajax listener="#{capitulo2View.buscaGuiasPdf}"/>
		                            <f:selectItems id="selectItemsSS" value="#{capitulo2View.subSectorSelectOne}" /> 
		                            
		                        </h:selectOneMenu>
		                    </div>
		                </h:panelGroup>
		                		                	
	                    <h:panelGroup id="PGRama">	                
		                    <div class="form-group">
		                        <label class="control-label" for="Rama"><span class="requerido">Rama:</span></label>    
		                        <h:selectOneMenu class="form-control" id="cmbRama" value="#{capitulo2View.proyecto.nrama}" disabled="#{capitulo2View.blos}">
		                            <f:selectItems id="selectItems1R" value="#{capitulo2View.ramaSelectOne}" />  
		                            <p:ajax  update="cmbTipProy" />
		                        </h:selectOneMenu>                          
		                    </div> 
		                </h:panelGroup>
	                             
	                    <h:panelGroup id="PGTipoProyecto">                  
		                    <div class="form-group">
		                        <label class="control-label" for="tipoProy"><span class="requerido">Tipo de Proyecto:</span></label>
		                        <h:selectOneMenu class="form-control" id="cmbTipProy" value="#{capitulo2View.tipoProyecto}" disabled="#{capitulo2View.blos}">
		                            <f:selectItems id="selectItems1TP" value="#{capitulo2View.tipoProySelectOne}" /> 
		                        </h:selectOneMenu>
		                    </div> 
		                </h:panelGroup>	                         
                    </p:outputPanel>
                    
                               
                    
                    <!-- ================ SE MUESTRAN SI EL SECTOR Y EL SUBSECTOR YA EXISTE PARA EL PROYECTO ================= -->
                                        
                    <p:outputPanel id="opConNormaProyecto" rendered="#{capitulo2View.existeNormaProyecto}">
		                <h:panelGroup id="PGSectorLabel">
		                    <div class="form-group">
		                            <label class="control-label" for="Sector">Sector:</label>                                                        
									<p:outputLabel value="#{capitulo2View.sectorProyectoConsultado.sector}" style="color:black"/>
		                    </div>
		                </h:panelGroup>                    
	                                        
	                    <h:panelGroup id="PGSubSectorLabel">
		                    <div class="form-group">
		                        <label class="control-label" for="Sector">SubSector:</label>                                                        
								<p:outputLabel value="#{capitulo2View.subsectorProyectoConsultado.subsector}" style="color:black"/>
		                    </div>                    
	                    </h:panelGroup>
	                    
	                    <h:panelGroup id="PGRamaLabel">
		                    <div class="form-group">
		                        <label class="control-label" for="Sector">Rama:</label>                                                        
								<p:outputLabel value="#{capitulo2View.ramaProyectoConsultado.rama}" style="color:black"/>
		                    </div>                    
	                    </h:panelGroup>
	                    
	                    <h:panelGroup id="PGTipoProyectoLabel">
		                    <div class="form-group">
		                        <label class="control-label" for="Sector">Tipo de Proyecto:</label>                                                        
								<p:outputLabel value="#{capitulo2View.tipoProyectoConsultado.tipoProyecto}" style="color:black"/>
		                    </div>                    
	                    </h:panelGroup>	                    	                                        
                    </p:outputPanel>                    
                    
                    <!-- ================ FIN DE LAS ETIQUETAS DEL SECTOR Y DEL SUBSECTOR DEL PROYECTO ======================== -->
                                                                             
                </div>
                </h:panelGroup>
                
                  
                <div id="UbicacionProyecto"   class="gobmx-example" style="width:900px;"> 
                    
                    <!-- Ubicacipon fisica-->    
                    <h3>Ubicaci&#243;n f&#239;sica del proyecto.</h3>
                    <div class="form-group">
                        <p></p>
                        <p></p>
                        <label class="control-label" for="numInt">Georefenciaci&#243;n SIGEIA:</label>                        
                        <p><h:outputLink target="_blank" value="#{capitulo2View.url}">Contacto SIGEIA</h:outputLink></p>
                        <p></p>
                        <p></p>
                    </div>

                    <p:growl id="messages" />
                    <h:panelGroup id="UbicacionProyecto1">
                    <div id="entidadMunpAfec" >
                        <h4>Estados Afectados.</h4>
                        <h:dataTable value="#{capitulo2View.todosEdos}" var="esp"  class="table">
                            <h:column>
                                <f:facet name="header">
                                    <span class="requerido">Entidad.</span>
                                </f:facet>

                                <h:outputText value="#{esp[2]}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <span class="requerido">Municipio.</span>
                                </f:facet>

                                <h:outputText value="#{esp[3]}" id="txtNombMuncp"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <span class="requerido">Superficie (m2)</span>
                                </f:facet>

                                <h:outputText style="float: right;" value="#{esp[4]}" id="txtSupEdo">
                                    <f:convertNumber pattern="###,###.##"/>
                                </h:outputText>
                            </h:column>                                 
                        </h:dataTable> 
                        <br></br>                            
                        <Table> 
                            <tr>
                                <td>
                                    <label class="control-label" >Entidad más afectada:</label>   
                                </td>
                                <td>
                                    <h:dataTable value="#{capitulo2View.edoAfectado}" var="edoAfect" >
                                        <h:column>
                                            <h:inputText value="#{edoAfect[2]}"   disabled="true" class="form-control"/>
                                        </h:column>
                                    </h:dataTable> 
                                </td>
                                <td style="width: 10px;">

                                </td>
                                <td>
                                    <label class="control-label">Municipio más afectado:</label>   
                                </td>
                                <td>
                                    <h:dataTable value="#{capitulo2View.edoAfectado}" var="edoAfect" >
                                        <h:column>
                                            <h:inputText value="#{edoAfect[3]}" disabled="true" class="form-control"/>
                                        </h:column>
                                    </h:dataTable> 
                                </td>
                            </tr>
                        </Table>                         
                    </div>
                    </h:panelGroup> 

                    Ayuda                     
                    <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                    <div class="form-group" style="margin-left:20px;">

                        <label class="control-label" for="nombVialidad" style="margin-left:-10px;">¿Su proyecto cuenta con un domicilio establecido?</label>		
                        <h:selectOneRadio layout="pageDirection" value="#{capitulo2View.proyecto.proyDomEstablecido}"  >
                            <p:ajax listener="#{capitulo2View.seleccionaDomicilio}" update="localizaciones" />
                            <f:selectItem itemValue="S" itemLabel="Sí" />
                            <f:selectItem itemValue="N" itemLabel="No" />                           
                        </h:selectOneRadio>

                    </div>
                    <h:panelGroup id="localizaciones" >

                        <h:panelGroup id="locExacta"  rendered="#{capitulo2View.localiz}"> 
                            <div class="form-group">           
                                <div class="form-group">
                                    <label class="control-label" for="Sector">Tipo de Vialidad:</label>
                                    <h:selectOneMenu class="form-control" value="#{capitulo2View.proyecto.cveTipoVial}">   
                                        <f:selectItems id="selectItemsVialidad" value="#{capitulo2View.vialidadSelectOne}" /> 
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="nombVialidad">Nombre de la Vialidad:</label>                            
                                    <h:inputText id="nombVialidad" class="form-control" value="#{capitulo2View.proyecto.proyNombreVialidad}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="numExt">Número Exterior:</label>                                
                                    <h:inputText id="numExt" class="form-control" value="#{capitulo2View.proyecto.proyNumeroExterior}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="numInt">Número Interior:</label>                                
                                    <h:inputText id="numInt" class="form-control" value="#{capitulo2View.proyecto.proyNumeroInterior}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Sector">Tipo de Asentamiento:</label>
                                    <h:selectOneMenu class="form-control" value="#{capitulo2View.proyecto.tipoAsentamientoId}">   
                                        <f:selectItems id="selectItemsTipAsent" value="#{capitulo2View.tipAseSelectOne}" /> 
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="nomAsent">Nombre del Asentamiento:</label>
                                    <h:inputText id="nomAsent" class="form-control" value="#{capitulo2View.proyecto.proyNombreAsentamiento}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="CP">C&#243;digo Postal:</label>
                                    <h:inputText id="CP" class="form-control" value="#{capitulo2View.proyecto.proyCodigoPostal}"/>
                                </div>	 
                            </div>                   
                        </h:panelGroup>

                        <h:panelGroup id="NOlocExacta"  rendered="#{capitulo2View.localizNo}">    
                            <div class="form-group">
                                <label class="control-label" for="locProy">Localizaci&#243;n del Proyecto:</label>                                
                                <h:inputTextarea class="form-control" id="locProy" rows="5" value="#{capitulo2View.proyecto.proyUbicacionDescrita}"/>
                            </div>  
                        </h:panelGroup>
                    </h:panelGroup>                    
                </div>


                <!-- planos adicionales--> 
                <div id="planosAdicionales" class="gobmx-example" style="width: 900px;">

                    Ayuda  
                    <button id='case_btn_ayuda2' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                    <h3>Planos Adicionales del Proyecto.</h3>
                    <div class="form-group">
                        <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=2,1,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                    </div>                    
                </div>

                <div id="supProyecto" class="gobmx-example"  style="width: 900px;">
                    <!-- SUPERFICIE TOTAL DEL PROYECTO-->  
                    Ayuda 
                    <button id='case_btn_ayuda3' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                    <h:panelGroup id="supTotalProy">       
                        <h3>Superficie de Proyecto</h3>
                        <h:dataTable value="#{capitulo2View.proySigSupProy}" var="supProy"  class="table">
                            <h:column>
                                <f:facet name="header">
                                    <span class="requerido">Componente</span>
                                </f:facet>
                                <h:outputLabel value="#{supProy[0]}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <span class="requerido">Descripción</span>
                                </f:facet>

                                <h:outputText value="#{supProy[1]}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <span class="requerido">Superficie (m2)</span>
                                </f:facet>                                    
                                <h:outputText style="float: right;" value="#{supProy[2]}">
                                    <f:attribute name="align" value="right"/>
                                    <f:convertNumber pattern="###,###.##"/>
                                </h:outputText>
                            </h:column>                                 
                        </h:dataTable>                             
                        <br></br>

                        <Table> 
                            <tr>
                                <td>
                                    <label class="control-label" >Total Superficie Predio:</label>   
                                </td>
                                <td>
                                    <h:dataTable value="#{capitulo2View.proySigSupProyPredios}" var="predio" >
                                        <h:column>
                                            <h:outputLabel value="#{predio[1]}"  class="form-control">
                                                <f:convertNumber pattern="###,###.##"/>
                                            </h:outputLabel>
                                        </h:column>
                                    </h:dataTable> 
                                </td>
                                <td style="width: 10px;">

                                </td>
                                <td>
                                    <label class="control-label">Total Superficie de Obra:</label>   
                                </td>
                                <td>
                                    <h:dataTable value="#{capitulo2View.proySigSupProyObras}" var="obra" >
                                        <h:column>                                                                                 
                                            <h:outputLabel value="#{obra[1]}" class="form-control">
                                                <f:convertNumber pattern="###,###.##"/>
                                            </h:outputLabel>
                                        </h:column>                                                             
                                    </h:dataTable> 
                                </td>
                            </tr>
                        </Table>                         
                    </h:panelGroup>
                </div>

                <div id="Inversion"  class="gobmx-example"  style="width: 900px;">
                    Ayuda 
                    <button id='case_btn_ayuda4' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                    <h:panelGroup id="pInverion">

                        <h3>Inversi&#243;n requerida y n&#250;mero de empleos<br></br>generados por el proyecto.</h3>	

                        <div class="form-group">
                            <label class="control-label" for="invReq"><span class="requerido">Costo de la Inversión Requerida (M.N.):</span></label>
                            <h:inputText id="invReq" class="form-control" value="#{capitulo2View.proyecto.proyInversionRequerida}" >
                                <f:ajax render="invTot" execute="invReq"/>
                            </h:inputText>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="medidasPM">Costos de Medidas de Prevención y Mitigación (M.N.):</label>
                            <h:inputText id="medidasPM" class="form-control" value="#{capitulo2View.proyecto.proyMedidasPrevencion}" >
                                <f:ajax render="invTot" execute="invReq"/>
                            </h:inputText>
                        </div>					
                        <div class="form-group">
                            <label class="control-label" for="invTot"><span class="requerido">Inversión Total (M.N.):</span></label>                               
                            <h:outputText id="invTot" class="form-control" value="#{capitulo2View.totalInv}">
                                <f:convertNumber pattern="$ ###,###.##"/>
                            </h:outputText>
                        </div>					
                        <div class="form-group">
                            <label class="control-label" for="empPerm"><span class="requerido">Empleos Permanetes:</span></label>

                            <h:inputText id="empPerm" class="form-control" value="#{capitulo2View.proyecto.proyEmpleosPermanentes}" > 
                                <f:ajax execute="empPerm" render="empTot"/>
                            </h:inputText>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="empTemp"><span class="requerido">Empleos Temporales:</span></label>

                            <h:inputText id="empTemp" class="form-control" value="#{capitulo2View.proyecto.proyEmpleosTemporales}" >
                                <f:ajax execute="empPerm" render="empTot"/>
                            </h:inputText>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="empTot"><span class="requerido">Empleos Totales:</span></label>                               
                            <h:outputText id="empTot" class="form-control" value="#{capitulo2View.totalEmpleos}">
                                <f:convertNumber pattern="###,###.##"/>
                            </h:outputText>
                        </div>	  
                    </h:panelGroup>
                </div> 

                <div class="form-group blockquote-reverse" style="float: right; width: 800px;" >   
                    <p:commandButton value="Guardar" action="#{capitulo2View.guardar}" rendered="#{capitulo2View.btnGuardar}" oncomplete="parent.recargaMenu();"
                                     class=" btn btn-primary  " update="@this" process="@form"
                                     onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); parent.actualizaMenu();" onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
                                
                </div>    


            </h:panelGroup>  
        </h:form>   
        <script>
            $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 1, seccion: 1, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda1').click({capitulo: 2, subcapitulo: 1, seccion: 2, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda2').click({capitulo: 2, subcapitulo: 1, seccion: 3, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda3').click({capitulo: 2, subcapitulo: 1, seccion: 4, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda4').click({capitulo: 2, subcapitulo: 1, seccion: 5, nsec: 1}, case_ayuda);
        </script>
    </body>
</html>
