<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>   
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        
    </h:head>
    <body>
        								
        <h:form id="f_cap1">
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
            
                Ayuda <button id='case_btn_ayudaDG' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <script>
                    $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 2, seccion: 1, nsec: 1}, case_ayuda);
                </script>
            <h:panelGroup id="principal">  
                <h:panelGroup id="p_nombProy" >
                    <div id="DatosGenerales" class="gobmx-example">	
                        <h3>Datos Generales del Proyecto 
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Ingresar el nombre del proyecto, seleccionar el sector y subsector, así como la RAMA, el tipo de proyecto y si afecta a más de una entidad federativa.">?</button></h3>
                    </div>
                    <div class="form-group">
                        #{capitulo2View.proyecto.proyNombre}
                            <label class="control-label" for="nombProy"><span class="requerido">Nombre del proyecto:</span></label>
                            <h:inputText id="nombProy" value="#{capitulo2View.proyecto.proyNombre}" class="form-control"/>
                    </div>
                </h:panelGroup>
                <h:panelGroup id="PGSector">
                    <div class="form-group">
                            <label class="control-label" for="Sector">Sector:</label>                                                        
                            <h:dataTable value="#{capitulo2View.sectorProyecto}" var="sector" >
                                <h:column>
                                    <h:inputText id="txtSector" value="#{sector[1]}" class="form-control" disabled="true"/>
                                </h:column>
                            </h:dataTable> 
                    </div>
                </h:panelGroup>
                <h:panelGroup id="subSector" >
                    <div class="form-group">
                        <label class="control-label" for="Sector">Subsector:</label>
                        <h:selectOneMenu class="form-control" value="#{capitulo2View.proyecto.nsub}">                             
                            <f:ajax listener="#{capitulo2View.seleccionaReferencia}" render="cmbRama" />
                            <f:ajax render="PGSector" />
                            <f:selectItems id="selectItemsSS" value="#{capitulo2View.subSectorSelectOne}" /> 
                        </h:selectOneMenu>
                    </div>
                </h:panelGroup> 
                
                <h:panelGroup id="rama">
                    <div class="form-group">
                        <label class="control-label" for="Rama"><span class="requerido">Rama:</span></label>    
                        <h:selectOneMenu class="form-control" id="cmbRama" value="#{capitulo2View.proyecto.nrama}">
                            <f:selectItems id="selectItems1R" value="#{capitulo2View.ramaSelectOne}" />  
                            <f:ajax  render="cmbTipProy" />
                        </h:selectOneMenu>                          
                    </div>                   
                </h:panelGroup>
                <h:panelGroup id="tipoProyecto">
                    <div class="form-group">
                        <label class="control-label" for="tipoProy"><span class="requerido">Tipo de Proyecto:</span></label>
                        <h:selectOneMenu class="form-control" id="cmbTipProy" value="#{capitulo2View.proyecto.ntipo}">
                            <f:selectItems id="selectItems1TP" value="#{capitulo2View.tipoProySelectOne}" /> 
                        </h:selectOneMenu>
                    </div>
                </h:panelGroup>
                
            
            
                
                <div id="UbicacionProyecto"   class="gobmx-example"> <!-- style="overflow:auto;"  -->
            <!-- Ubicacipon fisica-->    
                    <h3>Ubicaci&#243;n f&#239;sica del proyecto</h3>
                    <div class="form-group">
                        <p></p>
                        <p></p>
                        <label class="control-label" for="numInt">Georefenciaci&#243;n SIGEIA:</label>                        
                        <p><a href='http://mapas.semarnat.gob.mx/SIGEIAsc/BOS/bos.html' target="_blank">Contacto SIGEIA</a></p>
                        <p></p>
                        <p></p>
                    </div>
                    <h:panelGroup id="mpiosAfectados">
                        
                        
                        <div id="entidadMunpAfec" >
                            
                            <h>Estados Afectados</h>
                            <h:dataTable value="#{capitulo2View.todosEdos}" var="esp"  class="table">
                                <h:column>
                                    <f:facet name="header">
                                        <span class="requerido">Entidad</span>
                                    </f:facet>
                                    
                                    <h:outputText value="#{esp[2]}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <span class="requerido">Municipio</span>
                                    </f:facet>
                                    
                                    <h:outputText value="#{esp[3]}" id="txtNombMuncp"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <span class="requerido">Superficie (m2)</span>
                                    </f:facet>
                                    
                                    <h:outputText value="#{esp[4]}" id="txtSupEdo"/>
                                </h:column>                                 
                            </h:dataTable> 
                            <br></br>                            
                            <Table> 
                                <tr>
                                    <td>
                                        <label class="control-label" >Endidad mas afectada:</label>   
                                    </td>
                                    <td>
                                        <h:dataTable value="#{capitulo2View.edoAfectado}" var="edoAfect" >
                                            <h:column>
                                                <h:inputText value="#{edoAfect[2]}"   disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                                    </td>
                                    <td style="width: 10px;">
                                        
                                    </td>
                                    <td>
                                        <label class="control-label">Municipio mas afectado:</label>   
                                    </td>
                                    <td>
                                        <h:dataTable value="#{capitulo2View.edoAfectado}" var="edoAfect" >
                                            <h:column>
                                                <h:inputText value="#{edoAfect[3]}" disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                                    </td>
                                </tr>
                            </Table> 
                            
                            
                            
                            
                        </div>	
                    </h:panelGroup>	
                </div>
                
                Ayuda <button id='case_btn_ayudaUbic' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <script>
                    $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 2, seccion: 2, nsec: 1}, case_ayuda);
                </script>
                <h:panelGroup>
                    <div class="form-group" style="margin-left:20px;">
                        
                        <label class="control-label" for="nombVialidad" style="margin-left:-10px;">¿Su proyecto cuenta con un domicilio establecido?</label>		
                        <h:selectOneRadio layout="pageDirection" value="#{capitulo2View.proyecto.proyDomEstablecido}"  >
                            <f:ajax listener="#{capitulo2View.seleccionaDomicilio}" render=":f_cap1:principal" />
                          
                            <f:selectItem itemValue="S" itemLabel="Si" />
                            <f:selectItem itemValue="N" itemLabel="No" />                           
                        </h:selectOneRadio>
                        
                    </div>
                </h:panelGroup>
                
                
                <h:panelGroup id="locExacta"  rendered="#{capitulo2View.localiz}"> 
                    <div class="form-group">               
                        <h:panelGroup id="vialidad" >
                                <div class="form-group">
                                    <label class="control-label" for="Sector">Tipo vialidad:</label>
                                    <h:selectOneMenu class="form-control" value="#{capitulo2View.proyecto.cveTipoVial}">   
                                        <f:selectItems id="selectItemsVialidad" value="#{capitulo2View.vialidadSelectOne}" /> 
                                    </h:selectOneMenu>
                                </div>
                        </h:panelGroup> 
                        <h:panelGroup>
                            <div class="form-group">
                                <label class="control-label" for="nombVialidad">Nombre de la vialidad:</label>                            
                                <h:inputText id="nombVialidad" class="form-control" value="#{capitulo2View.proyecto.proyNombreVialidad}"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div class="form-group">
                                <label class="control-label" for="numExt">Numero Exterior:</label>                                
                                <h:inputText id="numExt" class="form-control" value="#{capitulo2View.proyecto.proyNumeroExterior}"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div class="form-group">
                                <label class="control-label" for="numInt">Numero Interior:</label>                                
                                <h:inputText id="numInt" class="form-control" value="#{capitulo2View.proyecto.proyNumeroInterior}"/>
                            </div>
                        </h:panelGroup>  
                        <h:panelGroup id="tipoAsent" >
                            <div class="form-group">
                                <label class="control-label" for="Sector">Tipo de asentamiento:</label>
                                <h:selectOneMenu class="form-control" value="#{capitulo2View.proyecto.tipoAsentamientoId}">   
                                    <f:selectItems id="selectItemsTipAsent" value="#{capitulo2View.tipAseSelectOne}" /> 
                                </h:selectOneMenu>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div class="form-group">
                                    <label class="control-label" for="nomAsent">Nombre del Asentamiento:</label>
                                    <h:inputText id="nomAsent" class="form-control" value="#{capitulo2View.proyecto.proyNombreAsentamiento}"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup>
                            <div class="form-group">
                                    <label class="control-label" for="CP">C&#243;digo Postal:</label>
                                    <h:inputText id="CP" class="form-control" value="#{capitulo2View.proyecto.proyCodigoPostal}"/>
                            </div>	
                        </h:panelGroup>  
                    </div>                   
                </h:panelGroup>
                
                <h:panelGroup id="NOlocExacta"  rendered="#{capitulo2View.localizNo}">    
                    <div class="form-group">
                        <label class="control-label" for="locProy">Localizaci&#243;n del proyecto:</label>                                
                        <h:inputTextarea class="form-control" id="locProy" rows="5" value="#{capitulo2View.proyecto.proyUbicacionDescrita}"/>
                    </div>  
                </h:panelGroup>               
               
                <!-- planos adicionales--> 
                <!--
                Ayuda <button id='case_btn_ayudaPlanos' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <script>
                    $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 2, seccion: 3, nsec: 1}, case_ayuda);
                </script>
                <h:panelGroup> 
                    <h3>Planos adicionales del proyecto</h3>
                    <div class="form-group">
                        <h:dataTable id="dl" value="#{capitulo2View.anexosProyecto}" var="obj" class="table">
                            <h:column>
                                <h:commandLink>
                                    <h:commandLink id="quitar" action="#{capitulo2View.removePlano}">
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel-collapsed.png"/>
                                        <f:ajax render=":f_cap1:dl">
                                            <f:setPropertyActionListener target="#{capitulo2View.planoAdicSelect}" value="#{obj}"/>
                                        </f:ajax>
                                    </h:commandLink>
                                </h:commandLink>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Descripción" />
                                </f:facet>
                                <h:inputText size="4" id="cantidad" value="#{obj.anexoDescripcion}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="requerido" value="Archivo" />
                                </f:facet>                               
                                <h:inputText  />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:commandLink action="#{capitulo2View.addPlano}"> 
                                        <img src="#{request.contextPath}/assets/images/gobmx/icons/panel.png"/>
                                        <f:ajax execute=":f_cap1:dl" render=":f_cap1:dl"/>
                                    </h:commandLink>
                                </f:facet>                                
                            </h:column>
                        </h:dataTable>
                    
               
                    </div>
                </h:panelGroup>  -->
                
                <!-- SUPERFICIE TOTAL DEL PROYECTO-->  
                Ayuda <button id='case_btn_ayudaSupProy' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <script>
                    $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 2, seccion: 4, nsec: 1}, case_ayuda);
                </script>
                <h:panelGroup id="supTotalProy">                 
                    
                        <div id="supProyecto" class="gobmx-example">
                         
                            <h3>Superficie de proyecto</h3>
                            <h:dataTable value="#{capitulo2View.proySigSupProy}" var="supProy"  class="table">
                                <h:column>
                                    <f:facet name="header">
                                        <span class="requerido">Componente</span>
                                    </f:facet>
                                    
                                    <h:outputText value="#{supProy[0]}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <span class="requerido">Descripción</span>
                                    </f:facet>
                                    
                                    <h:outputText value="#{supProy[1]}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <span class="requerido">Superficie (m2)</span>
                                    </f:facet>                                    
                                    <h:outputText value="#{supProy[2]}"/>
                                </h:column>                                 
                            </h:dataTable>                             
                            <br></br>
                            
                            <Table> 
                                <tr>
                                    <td>
                                        <label class="control-label" >Total superficie predio:</label>   
                                    </td>
                                    <td>
                                        <h:dataTable value="#{capitulo2View.proySigSupProyPredios}" var="predio" >
                                            <h:column>
                                                <h:inputText value="#{predio[1]}" disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                                    </td>
                                    <td style="width: 10px;">
                                        
                                    </td>
                                    <td>
                                        <label class="control-label">Total superficie de obra:</label>   
                                    </td>
                                    <td>
                                        <h:dataTable value="#{capitulo2View.proySigSupProyObras}" var="obra" >
                                            <h:column>                                                                                 
                                                <h:inputText value="#{obra[1]}"  disabled="true" class="form-control"/>
                                            </h:column>                                                             
                                        </h:dataTable> 
                                    </td>
                                </tr>
                            </Table> 
                        </div>
                </h:panelGroup>
              
                
                
                
                Ayuda <button id='case_btn_ayudaInvProy' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <script>
                    $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 2, seccion: 5, nsec: 1}, case_ayuda);
                </script>
                <h:panelGroup id="pInverion">
                <div id="Inversion"  class="gobmx-example">
                    <h3>Inversi&#243;n Requerida y N&#250;mero de Empleos<br></br>Generados por el Proyecto</h3>	
                        
                        <div class="form-group">
                                <label class="control-label" for="invReq"><span class="requerido">Costo de la Inversi&#243;n Requerida:</span></label>
                                
                                <h:inputText id="invReq" class="form-control" value="#{capitulo2View.proyecto.proyInversionRequerida}" />
                        </div>
                        <div class="form-group">
                                <label class="control-label" for="medidasPM">Costos de Medidas de Prevenci&#243;n y Mitigaci&#243;n:</label>
                                <h:inputText id="medidasPM" class="form-control" value="#{capitulo2View.proyecto.proyMedidasPrevencion}" />
                        </div>					
                        <div class="form-group">
                                <label class="control-label" for="invTot"><span class="requerido">Inversi&#243;n Total:</span></label>                               
                                <h:inputText id="invTot" class="form-control" disabled="true" value="#{capitulo2View.proyecto.proyInversionRequerida + capitulo2View.proyecto.proyMedidasPrevencion}"/>
                        </div>					
                        <div class="form-group">
                                <label class="control-label" for="empPerm"><span class="requerido">Empleos Permanetes:</span></label>
                                
                                <h:inputText id="empPerm" class="form-control" value="#{capitulo2View.proyecto.proyEmpleosPermanentes}" />
                        </div>
                        <div class="form-group">
                                <label class="control-label" for="empTemp"><span class="requerido">Empleos Temporales:</span></label>
                               
                                <h:inputText id="empTemp" class="form-control" value="#{capitulo2View.proyecto.proyEmpleosTemporales}" />
                        </div>
                        <div class="form-group">
                                <label class="control-label" for="invTot"><span class="requerido">Empleos Totales:</span></label>                               
                                <h:inputText id="invTot" class="form-control" disabled="true" value="#{capitulo2View.proyecto.proyEmpleosPermanentes + capitulo2View.proyecto.proyEmpleosTemporales}"/>
                        </div>	  
                        
                    </div> 
                </h:panelGroup>
                
                <div class="form-group" style="float: right;margin-right:10px;">   
                        <h:commandButton class="btn btn-default" value="Cancelar"/>
                        &#160;&#160;&#160;&#160;&#160;
                        <h:commandButton class="btn btn-primary" value="Guardar" action="#{capitulo2View.guardar}"/>
                </div>        
            </h:panelGroup>  
                
            <script>
                $('#case_btn_ayudaDG').click({capitulo: 2, subcapitulo: 2, seccion: 1, nsec: 1}, case_ayuda);
                $('#case_btn_ayudaUbic').click({capitulo: 2, subcapitulo: 2, seccion: 2, nsec: 1}, case_ayuda);
                $('#case_btn_ayudaPlanos').click({capitulo: 2, subcapitulo: 2, seccion: 3, nsec: 1}, case_ayuda);
                $('#case_btn_ayudaSupProy').click({capitulo: 2, subcapitulo: 2, seccion: 4, nsec: 1}, case_ayuda);
                $('#case_btn_ayudaInvProy').click({capitulo: 2, subcapitulo: 2, seccion: 5, nsec: 1}, case_ayuda);
            </script>
        </h:form>  
        <!--</form>-->
        
    </body>
</html>
