<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <script type="text/javascript">
            var imax = 5000;
            function bindiframe() {
                $('#formAspTecAmb\\:CaPaPr').find('iframe').contents().find("body").on('keyup', function (e) {
                    ilength = $('#formAspTecAmb\\:CaPaPr').find('iframe').contents().find("body").text().length;
                    $('#formAspTecAmb\\:txt').html('' + (imax - ilength));
                });
                
                //Diálogo de "pegar" hasta arriba de la página
                CKEDITOR.on('dialogDefinition', function(e) {
                    var dialogName = e.data.name;
                    var dialogDefinition = e.data.definition;
                    var onShow = dialogDefinition.onShow;
                    dialogDefinition.onShow = function() {
                      var result = onShow.call(this);
                      this.move(this.getPosition().x, $(e.editor.container.$).position().top);
                      return result;
                    }
                  }); 
            }
        </script>
    </h:head>
    <h:body style="width:960px" onload="bindiframe()">
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <h:form id="formCaracPartProy"  class="form_horizontal">

            <div id="AmbiInfluProy"  >
                <h3>Descripción del Ambiente en área de influencia del proyecto
                </h3>
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <div class="form-group">
                    <h:outputLabel class="control-label" for="CaPaPr" styleClass="requerido" value="Dato Obligatorio"/>
                    <pe:ckEditor value="#{cap34.proyecto.proyDescAmbiente}" id="CaPaPr" class="form-control" 
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"
                                 width="700" required="true"/>
                </div>
                <p:messages/>
            </div>
            <div class="form-group" style="float: right; margin-right:10px;">
                <p:commandButton id="guarda" value="Guardar" action="#{cap34.guarda}" oncomplete="parent.recargaMenu();" 
                                 onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;" class="btn btn-primary"
                                 update="@this" process="@form" onsuccess="this.disabled=false; this.value='Guardar';parent.actualizaBarra();parent.actualizaMenu();">
                    <f:setPropertyActionListener target="#{cap34.procedencia}" value="34"/>
                </p:commandButton>
            </div>
        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 3, subcapitulo: 4, seccion: -1, nsec: 1}, case_ayuda);
        </script>
    </h:body>
</html>