<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Capitulo 1</title>       
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/> 
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Last-Modified" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <script>
            //<![CDATA[
            function contarCaracteres(ele, label, max) {
                var n = ele.value.length;
                var t = max - n;
                document.getElementById(label).innerHTML = t;
                if ( t < 0 ){
                    t =0 ;
                    alert('A rebasado el límite de caracteres permitidos ('+ max+ ')');
                }
                
            }
            //]]>
        </script>
    </h:head>
    <h:body>
        
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
    
        <h:form id="f_cap1">
            Ayuda <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
            <script>
                $('#case_btn_ayuda').click({capitulo: 1, subcapitulo: -1, seccion: -1, nsec: 1}, case_ayuda);
            </script>

            <style>
                .css_option label{
                    display: inline-block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    width: 50px;
                    padding: 10px;
                    vertical-align: middle;
                    text-align: justify;

                }
                .css_radio label{
                    display: inline-block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    width: 700px;
                    padding: 10px;
                    vertical-align: middle;
                    text-align: justify;

                }
                table.tabla_especificacion td { 
                    border: solid  #cccccc 1px

                }
            </style>
            
            <h:panelGroup id="principal">
                <h:panelGroup id="p_referencias" >
                    <div id="d_supuestos" >
                        <h3>Referencias, según corresponda, al o los supuestos del artículo 31 de la Ley General del Equilibrio Ecológico y la Protección del Ambiente.</h3>
                        <div class="form-group" style="margin-left:20px;">		
                            <h:selectOneRadio layout="pageDirection" value="#{supuestosView.referencia}" styleClass="css_radio"  disabled="#{supuestosView.disa}">
                                <f:ajax listener="#{supuestosView.seleccionaReferencia}" render="principal" />
                                <f:selectItem itemValue="1" itemLabel="Existan normas oficiales mexicanas u otras disposiciones que regulen las emisiones, las descargas, el aprovechamiento de recursos naturales y en general, todos los impactos ambientales relevantes que pueden producir las obras o actividades." />
                                <f:selectItem itemValue="2" itemLabel="Se trate de instalaciones ubicadas en parques industriales autorizados en los términos de la presente." />
                                <f:selectItem itemValue="3" itemLabel="Las obras o actividades de que se trate estén expresamente previstas por un plan parcial de desarrollo urbano o de ordenamiento ecológico que haya sido evaluado por la Secretaría en términos del artículo siguiente:" />
                            </h:selectOneRadio>
                        </div>
                    </div>
                </h:panelGroup>

                <!-- Supuesto 2 -->
                <h:panelGroup >
                    <ui:include src="supuesto2.xhtml"/>
                </h:panelGroup>
                <!-- Supuesto 3 -->
                <h:panelGroup >
                    <ui:include src="supuesto3.xhtml"/>
                </h:panelGroup>


                <!-- Supuesto 1 -->

                <h:panelGroup id="p_norms" rendered="#{supuestosView.panelNorm}">
                    <div id="d_normas" class="gobmx-example">
                        <h3>Normas Oficiales Mexicanas.</h3>
                        Que establecen las especificaciones de protección ambiental, especificaciones técnicas o procedimientos para:
                        <h:selectOneMenu id='nom_S' value="#{supuestosView.normaSeleccionada}" converter="#{catNomConverterBean}" styleClass="form-control" disabled="#{supuestosView.disa}">
                            <f:ajax listener="#{supuestosView.seleccionaNom}" render="principal" />
                            <f:selectItems value="#{supuestosView.catNom}" />
                        </h:selectOneMenu>
                        <br />
                        #{supuestosView.normaSeleccionada.normaDescripcion}
                    </div>
                </h:panelGroup>

                <h:panelGroup id="p_pregs" rendered="#{supuestosView.panelPreg}" >
                    <div id="d_preg" class="gobmx-example">
                        <h3>Cuestionario Norma.</h3>
                        <h:dataTable value="#{supuestosView.proyecto.preguntaProyectoList}" var="preg" >
                            <h:column>
                                <h:outputText value="#{preg.catPregunta.preguntaDescripcion}" />
                                <h:selectOneRadio  value="#{preg.preguntaRespuesta}" converter="#{siNoConverterBean}" styleClass="css_option"  disabled="#{supuestosView.disa}">
                                    <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal" />
                                    <f:selectItem itemValue='S' itemLabel=" Sí "  />
                                    <f:selectItem itemValue='N' itemLabel=" No "  />
                                </h:selectOneRadio>
                            </h:column>
                        </h:dataTable>
                    </div>

                </h:panelGroup>

                <!--  NORMAS ESTÁTICAS  -->
                <!-- NORMA 120 -->
                <h:panelGroup rendered="#{supuestosView.flagNormCientoV}">
                    <ui:include src="norm_120.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{supuestosView.flagNorm141}">
                    <ui:include src="norm_141.xhtml"/>
                </h:panelGroup>

                <h:commandLink id="g1" onclick="if (!confirm('Una guardado ya se podrá modificar la selección del supuesto, ¿Desea continuar?')) return false;"
                               value="Guardar" action="cap1_supuestos" actionListener="#{supuestosView.guarar1}"  class="btn btn-primary" rendered="#{supuestosView.btnGuarda1}" />

                <h:panelGroup id="p_espec" rendered="#{supuestosView.panelEspe}" >
                    <div id="d_espec" class="gobmx-example">
                        <h3>Especificaciones</h3>
                        <h:dataTable value="#{supuestosView.proyecto.especificacionProyectoList}" var="esp">
                            <h:column>
                                <div >
                                    <table class="tabla_especificacion" style="width:100%; border: solid  #cccccc 1px"  >
                                        <tr>
                                            <td style="text-align: center;vertical-align: middle"><b>Numeral</b></td>
                                            <td style="text-align: center;vertical-align: middle"><b>Especificación</b></td>
                                        </tr>
                                        <tr>
                                            <td style="width:70px; text-align: center">#{esp.catEspecificacion.catEspecificacionPK.especificacionId}</td>
                                            <td style="text-align: justify;vertical-align: middle">#{esp.catEspecificacion.especificacionDescripcion}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table style="width:100%;" >
                                                    <tr>
                                                        <td><b>Cumplimiento</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             
                                                            <p:inputTextarea value="#{esp.especificacionJustificacion}" style="width:100%" rows="8" onkeyup="contarCaracteres(this, 'lb#{esp.catEspecificacion.catEspecificacionPK.especificacionIdComp}', #{esp.catEspecificacion.especificacionLimite})" maxlength="#{esp.catEspecificacion.especificacionLimite}" autoResize="false"/>
                                                            <div>
                                                                <div style="float:left">Límite:</div>
                                                                <div style="float:right" id="lb#{esp.catEspecificacion.catEspecificacionPK.especificacionIdComp}" >#{esp.caracteres}</div>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h:panelGroup rendered="#{esp.catEspecificacion.anexo}">
                                                                <b>Anexar archivo</b>
                                                                <iframe src='#{request.contextPath}/faces/modarchivos/cargaespecificaciones.xhtml?info=#{esp.especificacionProyectoPK.especificacionId},#{esp.especificacionProyectoPK.folioProyecto},#{esp.especificacionProyectoPK.serialProyecto},#{esp.especificacionProyectoPK.normaId}' width='100%' height="160px" frameborder='0'></iframe>
                                                            </h:panelGroup>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </h:column>
                        </h:dataTable>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="p_msg1" rendered="#{supuestosView.panelMsg}">
                    <div class="alert alert-danger">
                        La selección de opciones que está realizando indica que el proyecto que intenta someter al Proceso de Evaluación de Impacto Ambiental (PEIA) no puede ser atendido bajo la modalidad de Informe Preventivo. 
                        <br/><br/>
                        Debe presentar una Manifestación de Impacto Ambiental (MIA)
                    </div>
                </h:panelGroup>

                <p:commandLink id="g2" value="Guardar" actionListener="#{supuestosView.guardar}" rendered="#{supuestosView.btnGuardar}" class="btn btn-primary" update=":f_cap1:principal"
                               onsuccess="parent.actualizaMenu(); parent.actualizaBarra();"/>
            </h:panelGroup>

            <p:growl id="messages" />
            
        </h:form>
   
    </h:body>
</html>