<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <style>
            .myRadioCtrl span { padding-right: 10px; }
        </style>
        <ui:fragment id="normaCienVeinte">
            <div id="d_preg" class="gobmx-example">
                <h3>Cuestionario Norma</h3>

                <h:panelGrid columns="1">
                    <h:outputText value="¿El proyecto se encuentra dentro de un área natural protegida?"/>
                    <h:selectOneRadio value="#{supuestosView.respuestas[0]}" class="myRadioCtrl" styleClass="css_option" disabled="#{supuestosView.disa}">
                        <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal" />
                        <f:selectItem itemLabel="Si" itemValue="S"/>
                        <f:selectItem itemLabel="No" itemValue="N"  />
                    </h:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2">
                    <h:outputLabel value="Tipo de Clima"/>
                    <h:selectOneMenu value="#{supuestosView.tipoClimaSel}" id="clima" disabled="#{supuestosView.disa}" converter="#{catTipoClimaConverter}">
                        <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal"  />
                        <f:selectItems value="#{supuestosView.catTipoClima}" />
                    </h:selectOneMenu>

                    <h:outputLabel value="Tipo de Vegetación" style="width: 120px"/>
                    <h:selectOneMenu id="vegetacio" value="#{supuestosView.tipoVegetaSel}" disabled="#{supuestosView.disa}" converter="#{catTipoVegetaConverter}">
                        <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal" />
                        <f:selectItems value="#{supuestosView.catTipoVegetacion}" />
                    </h:selectOneMenu>
                </h:panelGrid>

                <br/>
                <h:panelGrid columns="1">
                    <h:outputText value="¿Son minerales reservados a la federación?"/>
                    <h:selectOneRadio value="#{supuestosView.respuestas[1]}" class="myRadioCtrl" styleClass="css_option" disabled="#{supuestosView.disa}">
                        <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal " />
                        <f:selectItem itemLabel="Si" itemValue="S"/>
                        <f:selectItem itemLabel="No" itemValue="N"/>
                    </h:selectOneRadio>
                </h:panelGrid>

                <h:panelGroup rendered="#{supuestosView.verMinSel}">
                    Minerales seleccionados:
                    #{supuestosView.msgMinSel}
                    <br/>
                    <br/>
                    <h:dataTable value="#{supuestosView.obras}" var="o" styleClass="table">
                        <h:column>
                            <f:facet name="header">Tipo Obra</f:facet>
                            <h:selectOneMenu value="#{o.preguntaObraPK.obraId}" disabled="true">
                                <f:selectItems value="#{supuestosView.tipObraList}" var="tipo" itemValue="#{tipo.obraId}" itemLabel="#{tipo.obraDescripcion}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Dimensiones</f:facet>
                                #{o.dimensionesObra}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Unidad</f:facet>
                            <h:selectOneMenu value="#{o.dimensionesUnidad}" style="width: 120px" disabled="true">
                                <f:selectItems value="#{supuestosView.listaUnidades}" var="l" itemValue="#{l.ctunClve}" itemLabel="#{l.ctunDesc}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Superficie</f:facet>
                                #{o.superficieObra}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Unidad</f:facet>
                            <h:selectOneMenu value="#{o.superficieUnidad}" style="width: 120px" disabled="true">
                                <f:selectItems value="#{supuestosView.listaUnidades}" var="l" itemValue="#{l.ctunClve}" itemLabel="#{l.ctunDesc}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Porcentaje de afectacion</f:facet>
                                #{o.afectacionObra}
                        </h:column>

                    </h:dataTable>
                </h:panelGroup>

                <h:panelGroup id="mineralesSi" rendered="#{supuestosView.mineralReservado}">
                    <br/><br/><br/>
                    <p:selectManyCheckbox value="#{supuestosView.estadoMineralSelect}" layout="pageDirection"
                                          disabled="#{supuestosView.disa}" >
                        <p:ajax listener="#{supuestosView.cargaMinerales}"  update=":f_cap1:minerales"/>
                        <f:selectItems value="#{supuestosView.clasificacionMineral}" var="min" 
                                       itemLabel="#{min.descripcionClasificacion}" itemValue="#{min.idClasificacion}"/>
                    </p:selectManyCheckbox>

                    <h:panelGroup id="minerales" >

                        <ui:fragment rendered="#{ !empty supuestosView.lista }">
                            <h:panelGrid columns="#{supuestosView.tamanioLista}" cellspacing="10">
                                <ui:repeat value="#{supuestosView.lista}" var="listas" >
                                    <p:selectCheckboxMenu label="#{listas.catalogo}" value="#{listas.listaIds}"  
                                                          disabled="#{supuestosView.disa}" style="width: 150px; padding: 20px;">
                                        <p:ajax update=":f_cap1:seleccionMineral" process=":f_cap1:minerales"/>
                                        <f:selectItems value="#{listas.listaMinerales}" var="l" itemLabel="#{l.descripcionMinerales}"/>
                                    </p:selectCheckboxMenu>
                                </ui:repeat>
                            </h:panelGrid>
                        </ui:fragment>
                    </h:panelGroup>
                    <h:panelGroup id="seleccionMineral">
                        Minerales seleccionados:
                        <ui:repeat value="#{supuestosView.nomMineral}" var="catMin">
                            <h:outputLabel value="#{catMin}, "/>
                        </ui:repeat>
                    </h:panelGroup>


                    <br/><br/><br/>
                    <h:outputText value="Elegir una o varias de las siguientes obras"/>
                    <!--datatable dinámica de obras-->
                    <h:dataTable id="tablaObra" value="#{supuestosView.listaObras}" var="obra" styleClass="table">
                        <h:column>
                            <h:commandLink id="quitar" action="#{supuestosView.quitaObra}" disabled="#{supuestosView.disa}">
                                <img src="#{request.contextPath}/assets/images/gobmx/icons/panel-collapsed.png"/>
                                <f:ajax execute=":f_cap1:tablaObra" render=":f_cap1:tablaObra">
                                    <f:setPropertyActionListener target="#{supuestosView.obra}" value="#{obra}"/>
                                </f:ajax>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Tipo de Obra"/>
                            </f:facet>
                            <h:selectOneMenu id="TipoObra" value="#{obra.model.preguntaObraPK.obraId}" disabled="#{supuestosView.disa}">
                                <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal" />
                                <f:selectItems value="#{supuestosView.tipObraList}" var="tipo" itemValue="#{tipo.obraId}" itemLabel="#{tipo.obraDescripcion}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Dimensiones"/>
                            </f:facet>
                            <h:inputText id="dimen" value="#{obra.model.dimensionesObra}" size="4" disabled="#{supuestosView.disa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Unidad"/>
                            </f:facet>
                            <h:selectOneMenu id="uniDimen"  value="#{obra.model.dimensionesUnidad}" style="width: 120px" disabled="#{supuestosView.disa}">
                                <f:selectItems value="#{supuestosView.listaUnidades}" var="l" itemValue="#{l.ctunClve}" itemLabel="#{l.ctunDesc}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Superficie"/>
                            </f:facet>
                            <h:inputText id="sup" value="#{obra.model.superficieObra}" size="4"  disabled="#{supuestosView.disa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Unidad"/>
                            </f:facet>
                            <h:selectOneMenu id="uniSup"  value="#{obra.model.superficieUnidad}" style="width: 120px" disabled="#{supuestosView.disa}">
                                <f:selectItems value="#{supuestosView.listaUnidades}" var="li" itemValue="#{li.ctunClve}" itemLabel="#{li.ctunDesc}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Porcentaje de afectación"/>
                            </f:facet>
                            <h:inputText id="porcent" value="#{obra.model.afectacionObra}" size="2" maxlength="2" disabled="#{supuestosView.disa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Porcentaje máximo de afectación"/>
                            </f:facet>
                            <h:outputLabel value="#{obra.porcentajeMax}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:commandLink disabled="#{supuestosView.disa}">
                                    <img src="#{request.contextPath}/assets/images/gobmx/icons/panel.png"/>
                                    <f:ajax listener="#{supuestosView.agregaObra}"  execute=":f_cap1:tablaObra" render=":f_cap1:tablaObra"/>
                                </h:commandLink>
                            </f:facet>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
            </div>
        </ui:fragment>
    </ui:composition>
</html>
