<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:fragment id="normaCienCuarenta">

            <div class="f_cap1-group">
                <h:outputText value="¿Se trata de minerales reservados para la federación?"/>
                <h:selectOneRadio value="#{supuestosView.respuestas[0]}" class="myRadioCtrl" styleClass="css_option" disabled="#{supuestosView.disa}">
                    <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal "  />
                    <f:selectItem itemLabel="Sí" itemValue="S"/>
                    <f:selectItem itemLabel="No" itemValue="N"/>
                </h:selectOneRadio>
                
                <h:outputText value="¿Se encuentra en zonas agrícolas, ganaderas o eriales?"/>
                <h:selectOneRadio value="#{supuestosView.respuestas[1]}" class="myRadioCtrl" disabled="#{supuestosView.disa}" styleClass="css_option">
                    <f:ajax listener="#{supuestosView.seleccionaPregunta}" render=":f_cap1:principal " />
                    <f:selectItem itemLabel="Sí" itemValue="S"/>
                    <f:selectItem itemLabel="No" itemValue="N"/>
                </h:selectOneRadio>
                
                <h:panelGrid rendered="#{supuestosView.verMinSel}">
                    Minerales seleccionados:
                    #{supuestosView.msgMinSel}
                    <br/>
                    <br/>
                </h:panelGrid>
                
                <h:panelGroup id="mineralesSi2" rendered="#{supuestosView.mineralReservado}">
                    <br/><br/><br/>
                    <p:selectManyCheckbox value="#{supuestosView.estadoMineralSelect}" layout="pageDirection" disabled="#{supuestosView.disa}">
                        <f:ajax listener="#{supuestosView.cargaMinerales}" execute=":f_cap1:principal" render=":f_cap1:minerales2"/>
                        <f:selectItems value="#{supuestosView.clasificacionMineral}" var="min" 
                                       itemLabel="#{min.descripcionClasificacion}" itemValue="#{min.idClasificacion}"/>
                    </p:selectManyCheckbox>

                    <h:panelGroup id="minerales2" >
                        <ui:fragment rendered="#{ !empty supuestosView.lista }">
                            <h:panelGrid columns="#{supuestosView.tamanioLista}" cellspacing="10">
                                <ui:repeat value="#{supuestosView.lista}" var="listas" >
                                    <p:selectCheckboxMenu label="#{listas.catalogo}" value="#{listas.listaIds}"  
                                                          disabled="#{supuestosView.disa}" style="width: 150px; padding: 20px;">
                                        <p:ajax update=":f_cap1:seleccionMineral2" process=":f_cap1:minerales2"/>
                                        <f:selectItems value="#{listas.listaMinerales}" var="l" itemLabel="#{l.descripcionMinerales}"/>
                                    </p:selectCheckboxMenu>
                                </ui:repeat>
                            </h:panelGrid>

                        </ui:fragment>
                    </h:panelGroup>
                    <h:panelGroup id="seleccionMineral2">
                        Minerales seleccionados:
                        <ui:repeat value="#{supuestosView.nomMineral}" var="catMin">
                            <h:outputLabel value="#{catMin}, "/>
                        </ui:repeat>
                    </h:panelGroup>
                    <br/><br/><br/>
                </h:panelGroup>


            </div>
        </ui:fragment>
    </ui:composition>
</html>
