<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:fragment id="s_supuesto_3">

            <h:panelGroup id="p_supuesto_3" rendered="#{supuestosView.panelSup3}">
                <div id="d_opc1_s3" class="gobmx-example">
                    <h3></h3>

                    <h:selectOneRadio id='c_op1_S3' styleClass="css_radio" layout="pageDirection" value="#{supuestosView.selecionaOpcion3}">
                        <f:ajax listener="#{supuestosView.seleccionaSup3}" render="p_supuesto_3" />
                        <f:selectItem itemValue="pdu" itemLabel="Programa de Desarrollo Urbano" />
                        <f:selectItem itemValue="poet" itemLabel="Programa de Ordenamiento Ecológico de Territorio" />
                    </h:selectOneRadio>
                    <br />

                    <br/>

                    <h:panelGroup id="p_supuesto_3_1" rendered="#{supuestosView.panelSup31}">
                        <h3>Programa de Desarollo Urbano - descripción.</h3>
                        <h:selectOneMenu value="#{supuestosView.pduProyecto.catPdu}" converter="#{catPduConverterBean}">
                            <f:selectItems value="#{supuestosView.catPDU}" />
                        </h:selectOneMenu>
                        <br/>                        
                        <h3>Justificación (Identifiación, Análisis y Conclusión)</h3>
                        <h:inputTextarea style="width:100%" rows="8" onkeyup="contarInput(this, 'lb_just_ident', 5000)" value="#{supuestosView.pduProyecto.pduJustificacion}" >
                        </h:inputTextarea>
                        <div>
                            <div style="float:left">Límite:</div>
                            <div style="float:right" id="lb_just_ident" >5000</div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup id="p_supuesto_3_2" rendered="#{supuestosView.panelSup32}">
                        <h3>Programa de Ordenamiento Ecológico de Territorio.</h3>
                        <h:selectOneMenu value="#{supuestosView.poetProyecto.catPoet}" converter="#{catPoetConverterBean}">
                            <f:selectItems value="#{supuestosView.catPODS}" />
                        </h:selectOneMenu>
                        <h3>Justificación (Identifiación, Análisis y Conclusión)</h3>
                        <h:inputTextarea style="width:100%" rows="8" onkeyup="contarInput(this, 'lb_just_ident', 5000)" value="#{supuestosView.poetProyecto.poetJustificacion}">
                        </h:inputTextarea>
                        <div>
                            <div style="float:left">Límite:</div>
                            <div style="float:right" id="lb_just_ident" >5000</div>
                        </div>
                    </h:panelGroup>

                </div>

                <p:commandLink onclick="if (! confirm('Una vez que guarde ya no podrá modificar la selección del supuesto, ¿Desea continuar?')) return false"
                               value="Guardar" actionListener="#{supuestosView.guardar}"  class="btn btn-primary" rendered="#{supuestosView.btnGuarda2}" 
                               onsuccess="parent.actualizaMenu(); parent.actualizaBarra();">
                </p:commandLink> 

            </h:panelGroup>

        </ui:fragment>
    </ui:composition>
</html>
