<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:fragment id="s_supuesto_2">

            <h:panelGroup id="p_supuesto_2" rendered="#{supuestosView.panelSup2}">
                <div id="d_normas" class="gobmx-example">
                    <h3>Parques Industriales - descripción.</h3>
                    <h:selectOneMenu id='pauques_S' styleClass="form-control" value="#{supuestosView.parque.catParqueIndustrial}" converter="#{catParqueConverterBean}">
                        <f:selectItems value="#{supuestosView.catParques}" />
                    </h:selectOneMenu>
                    <br />
 
                <br/>

                    <h3>Justificación (Identifiación, Análisis y Conclusión).</h3>
                    <h:inputTextarea style="width:100%" rows="8" onkeyup="contarInput(this, 'lb_just_ident', 5000)" value="#{supuestosView.parque.parqueIndJustificacion}" >
                    </h:inputTextarea>
                    <div>
                        <div style="float:left">Límite:</div>
                        <div style="float:right" id="lb_just_ident" >5000</div>
                    </div>
                    <br />
                </div>


                <p:commandLink onclick="if (! confirm('Una vez que guarde ya no podrá modificar la selección del supuesto, ¿Desea continuar?')) return false"
                               value="Guardar" actionListener="#{supuestosView.guardar}"  class="btn btn-primary" rendered="#{supuestosView.btnGuarda2}" 
                               onsuccess="parent.actualizaMenu(); parent.actualizaBarra();">
                </p:commandLink> 

            </h:panelGroup>

        </ui:fragment>
    </ui:composition>
</html>
