<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <script type="text/javascript">
            var imax = 5000;
            function bindiframe() {
                $('#formAspTecAmb\\:PreSit').find('iframe').contents().find("body").on('keyup', function (e) {
                    ilength = $('#formAspTecAmb\\:PreSit').find('iframe').contents().find("body").text().length;
                    $('#formAspTecAmb\\:txt').html('' + (imax - ilength));
                });
                $('#formAspTecAmb\\:Cons').find('iframe').contents().find("body").on('keyup', function (e) {
                    ilength = $('#formAspTecAmb\\:Cons').find('iframe').contents().find("body").text().length;
                    $('#formAspTecAmb\\:txt1').html('' + (imax - ilength));
                });
                $('#formAspTecAmb\\:OpenMan').find('iframe').contents().find("body").on('keyup', function (e) {
                    ilength = $('#formAspTecAmb\\:OpenMan').find('iframe').contents().find("body").text().length;
                    $('#formAspTecAmb\\:txt2').html('' + (imax - ilength));
                });
                $('#formAspTecAmb\\:AbaSi').find('iframe').contents().find("body").on('keyup', function (e) {
                    ilength = $('#formAspTecAmb\\:AbaSi').find('iframe').contents().find("body").text().length;
                    $('#formAspTecAmb\\:txt3').html('' + (imax - ilength));
                });

                //Diálogo de "pegar" hasta arriba de la página
                CKEDITOR.on('dialogDefinition', function(e) {
                    var dialogName = e.data.name;
                    var dialogDefinition = e.data.definition;
                    var onShow = dialogDefinition.onShow;
                    dialogDefinition.onShow = function() {
                      var result = onShow.call(this);
                      this.move(this.getPosition().x, $(e.editor.container.$).position().top);
                      return result;
                    }
                  }); 
            }
        </script>

    </h:head>
    <h:body style="width:960px" onload="bindiframe()">
        <div class="semarnat_ayuda" id='case_pnl_ayuda'>
            <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
            </div>
        </div>
        <h:form id="formAspTecAmb">
            <div id="CaracPartiProyec" >
                <h3>Características Particulares del Proyecto.</h3>
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <div class="form-group" >
                    <h:outputLabel class="control-label" for="CaPaPr"><span class="requerido">Describa las características particulares del proyecto 
                            basado en la naturaleza del instrumento regulatorio.</span></h:outputLabel>
                    <pe:ckEditor id="CaPaPr" value="#{cap31.proyecto.proyDescParticular}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]" 
                                 >

                    </pe:ckEditor>

                </div>    
            </div>
            <div id="PrograGeneTrab" >
                <h3>Programa General de Trabajo.</h3>
                <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>

                <div class="form-group">
                    <h:outputLabel class="control-label" for="ProGn"><span class="requerido">Adjunte el archivo que contenga el diagrama de Gantt que describa las etapas del
                            proyecto (Preparación del Sitio, Contrucción, Operación y Manteniminto, Abandono)</span></h:outputLabel>
                    <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,1,2,1,#{cap31.proyecto.proyectoPK.folioProyecto},#{cap31.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>

                </div>
                <div id="Duracion" >

                    <div > 
                        <h3 style="margin-left: 5px;">Duración.</h3>
                        <div>
                            <label class="control-label">Seleccione la duración de su proyecto para cada etapa</label>
                        </div>
                        <table id="EtapaProyecto" class=" table-responsive" align="center" >
                            <tr>            
                                <th></th>
                                <th style="margin-left: 15px;"><center>Años</center></th>
                                <th><center>Meses</center></th>

                            </tr>
                            <tr>
                                <th> Tiempo de Vida <br>
                                        útil del Proyecto</br></th>
                                <th><h:inputText id="annvida" value="#{cap31.anios[0]}" style="padding-left: 10px;"  size="2"
                                                 validatorMessage="El valor debe ser positivo y menor a 99.">
                                        <f:validateRegex pattern="^([0-9]|){1,2}$"/>
                                        <p:ajax update="msj2"/>
                                    </h:inputText></th>
                                <th><h:inputText id="mesvida" value="#{cap31.meses[0]}" style="padding-left: 10px;" size="1"
                                                 validatorMessage="El valor debe ser menor a 12">
                                        <p:ajax update="msj2"/>
                                        <f:validateRegex pattern="^([0-9]|1[0-2]|)$"/>

                                    </h:inputText></th>

                            </tr>
                            <tr>            
                                <th colspan="3" style="color:white " >Espacio </th>

                            </tr>
                            <tr>            
                                <th style="color: #ac2925 " ><center>Etapa del
                                        <br>Proyecto</br></center></th>
                                <th><center>Años</center></th>
                                <th><center>Meses</center></th>

                            </tr>
                            <tr>                
                                <th>Preparación <br> del Sitio</br></th>
                                <th><h:inputText  id="annPreSit" style="padding-left: 10px;"  size="1" value="#{cap31.anios[1]}"
                                                  validatorMessage="El valor debe ser positivo y menor a 99.">
                                        <f:validateRegex pattern="^([0-9]|){1,2}$"/>
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                                <th><h:inputText  id="mesPreSit" style="padding-left: 10px;"  size="1" value="#{cap31.meses[1]}"
                                                  validatorMessage="El valor debe ser menor a 12">
                                        <f:validateRegex pattern="^([0-9]|1[0-2]|)$"/>
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                            </tr>
                            <tr>                
                                <th>Construcción</th>
                                <th><h:inputText id="annCons" style="padding-left: 10px;"  size="1" value="#{cap31.anios[2]}"
                                                 validatorMessage="El valor debe ser positivo y menor a 99.">
                                        <f:validateRegex pattern="^([0-9]|){1,2}$"/>
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                                <th><h:inputText id="mesCons" style="padding-left: 10px;" size="1" value="#{cap31.meses[2]}"
                                                 validatorMessage="El valor debe ser menor a 12">
                                        <f:validateRegex pattern="^([0-9]|1[0-2]|)$"/>
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                            </tr>
                            <tr>                
                                <th>Operación y<br> Mantenimiento </br></th>
                                <th><h:inputText  id="annOpMan" style="padding-left: 10px;"  size="1" value="#{cap31.anios[3]}"
                                                  validatorMessage="El valor debe ser positivo y menor a 99.">
                                        <f:validateRegex pattern="^([0-9]|){1,2}$"/>                                        
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                                <th><h:inputText id="mesOpMan" style="padding-left: 10px;"  size="1" value="#{cap31.meses[3]}"
                                                 validatorMessage="El valor debe ser menor a 12">
                                        <f:validateRegex pattern="^([0-9]|1[0-2]|)$"/>
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>

                            </tr>
                            <tr>                
                                <th>Abandono</th>
                                <th><h:inputText id="annAban" style="padding-left: 10px;"  size="1" value="#{cap31.anios[4]}" 
                                                 validatorMessage="El valor debe ser positivo y menor a 99.">
                                        <f:validateRegex pattern="^([0-9]|){1,2}$"/>                                        
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                                <th><h:inputText id="mesAban" style="padding-left: 10px;"  size="1" value="#{cap31.meses[4]}"
                                                 validatorMessage="El valor debe ser menor a 12">
                                        <f:validateRegex pattern="^([0-9]|1[0-2]|)$"/>
                                        <p:ajax update="fragmento msj2" listener="#{cap31.actualizaVista}" />
                                    </h:inputText></th>
                            </tr>
                        </table>
                        <h:messages id="msj2" style="color: tomato"/>
                    </div>
                </div>  
            </div>
            <!-- Fragmento que se actualiza conforme a los spinners -->
            <h:panelGroup id="fragmento" rendered="true" >
                <ui:fragment id="Prepara" rendered="#{cap31.banderas[0]}">
                    <div id="PrepSitio" >
                        <h3>Preparación del Sitio
                        </h3>
                        <div class="form-group">
                            <h:outputLabel class="control-label" for="PreSit"><span class="requerido">Agregue cada una de las obras o actividades con la 
                                    descripción de las mismas.</span></h:outputLabel>


                            <p:editor value="#{cap31.preparacionSitio.etapaDescripcionObraAct}" id="PreSit" width="700" 
                                      required="#{cap31.banderas[0]}" requiredMessage="Capture la descripción de la etapa de preparación del sitio."/>
                            <div>
                                <div style="float:left">Límite:</div>
                                <div style="float:right" id="lb_PreSit" ><h:outputText id="txt"/></div>
                            </div>

                            <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,1,3,1,#{cap31.proyecto.proyectoPK.folioProyecto},#{cap31.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                        </div>	
                    </div>
                </ui:fragment>
                <ui:fragment id="Construct" rendered="#{cap31.banderas[1]}">
                    <div id="Construccion" >
                        <h3>Construcción
                        </h3>
                        <div class="form-group">
                            <label class="control-label" for="Cons"><span class="requerido">Agregue cada una de las obras o actividades con la 
                                    descripción de las mismas.</span></label>
                            <p:editor value="#{cap31.construccion.etapaDescripcionObraAct}" id="Cons" width="700"
                                      required="#{cap31.banderas[1]}" requiredMessage="Capture la descripción de la etapa de construcción."/>
                            <div>
                                <div style="float:left">Límite:</div>
                                <div style="float:right" id="lb_Cons" ><h:outputText id="txt1"/> </div>
                            </div>
                            <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,1,4,1,#{cap31.proyecto.proyectoPK.folioProyecto},#{cap31.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                        </div>	
                    </div>
                </ui:fragment>
                <ui:fragment id="OperaMant" rendered="#{cap31.banderas[2]}">
                    <div id="OperMant"  >
                        <h3>Operación y Mantenimiento
                        </h3>
                        <div class="form-group">
                            <h:outputLabel class="control-label" for="OpenMan"><span class="requerido">Agregue cada una de las obras o actividades con la 
                                    descripción de las mismas.</span></h:outputLabel>
                            <p:editor value="#{cap31.operaMantenim.etapaDescripcionObraAct}" id="OpenMan"  width="700"
                                      required="#{cap31.banderas[2]}" requiredMessage="Capture la descripción de la etapa de operación y mantenimiento."/>
                            <div>
                                <div style="float:left">Límite:</div>
                                <div style="float:right" id="lb_CObra" ><h:outputText id="txt2"/></div>
                            </div>
                            <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,1,5,1,#{cap31.proyecto.proyectoPK.folioProyecto},#{cap31.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                        </div>	
                    </div>
                </ui:fragment>
                <ui:fragment id="Abandono" rendered="#{cap31.banderas[3]}">
                    <div id="AbanSit"  >
                        <h3>Abandono del Sitio</h3>
                        <div class="form-group">
                            <h:outputLabel class="control-label" for="AbaSi"><span class="requerido">Agregue cada una de las obras o actividades con la 
                                    descripción de las mismas.</span></h:outputLabel>
                            <p:editor id="AbaSi"  value="#{cap31.abandono.etapaDescripcionObraAct}" width="700"
                                      required="#{cap31.banderas[3]}" requiredMessage="Capture la descripción de la etapa de abandono del sitio."/>
                            <div>
                                <div style="float:left">Límite:</div>
                                <div style="float:right" id="lb_Aban" ><h:outputText id="txt3"/> </div>
                            </div>
                            <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,1,6,1,#{cap31.proyecto.proyectoPK.folioProyecto},#{cap31.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                        </div>	
                    </div>
                </ui:fragment>
            </h:panelGroup>
            <h:messages id="msj" style="color: tomato"/>

            <div class="form-group" style="float:right;margin-right:10px; ">

                <p:commandButton value="Guardar" action="#{cap31.guardar}" oncomplete="parent.recargarMenu();" class="btn btn-primary blockquote-reverse"
                                 update="@this msj" process="@form" onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); parent.actualizaMenu();"
                                 id="guarda"
                                 onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>

            </div>   
        </h:form>

        <script>
            $('#case_btn_ayuda').click({capitulo: 3, subcapitulo: 1, seccion: 1, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda1').click({capitulo: 3, subcapitulo: 1, seccion: 2, nsec: 1}, case_ayuda);
        </script>
    </h:body>
</html>
