<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
        Todo lo que se escriba antes de esta línea será borrado
        <ui:composition>
            <script type="text/javascript">
                function close_window() {
                    if (confirm("¿Desea salir de la captura de Informe preventivo?")) {
                        //window.opener='x';window.close();
                        document.location.href = "http://www.semarnat.gob.mx";
                    }
                    return false;
                }
                
            </script>
        <!--AAOC 29/06.- Se hizo una reestructuración completa de la cabecera
            para adecuarlo a la nueva identidad gráfica reemplazando clases y estructura
            de los elementos-->
            <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <!--<div class="navbar-brand">Semarnat</div>-->
                        <div class="navbar-brand txtBrand">SEMARNAT</div>
                    </div>
                    <div class="collapse navbar-collapse" id="subenlaces">      
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <h5><span class="label txtLabel" id="tipoTram" >Informe Preventivo</span></h5>
                            </li>
                            <li>
                                <!-- AAOC.- 19/08 Nuevo elemento de lista para la guía-->
                                <a href="#{request.contextPath}/assets/documents/ManualUsuarioIP.pdf" target="_blank">
                                    <span class="label txtLabel"><span class="txtLabel glyphicon glyphicon-question-sign"></span> Manual</span>  
                                </a>
                            </li>
                            <li>
                                <!-- AAOC.- 19/08 Nuevo elemento de lista para el manual-->
                                 <a href="http://tramites.semarnat.gob.mx/Doctos/DGIRA/Guia/InformePreventivo/IP.pdf" target="_blank">
                                     <span class="label txtLabel">Gu&iacute;a del tr&aacute;mite</span>
                                </a>
                            </li>
                            <li>
                                <h5>
                                    <!-- AAOC.- 19/08 Se elimina esta linea y se sustituye por un link que lleva a la bandeja
                                    principal del promovente.
                                    <p:commandLink class="label txtLabel" ajax="false" onclick="close_window()" value="SALIR"/>-->
                                    <a class="label txtLabel" href="http://app1.semarnat.gob.mx:8080/Sinatec/FDatosSolicitante.jsp">Mis tr&aacute;mites (SINATEC)</a>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </ui:composition>
        Todo lo que se escriba después de esta línea será borrado
    </body>
</html>
