<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/layout.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGroup id="principal">
                    <h:panelGroup id="referencias" >
                        Referencias, según corresponda, al o los supuestos del articulo 31 de la ley general del equilibrio ecologico y la proteccion del ambiente
                        <h:selectOneRadio layout="pageDirection" value="#{supuestosView.referencia}"  >
                            <f:ajax listener="#{supuestosView.seleccionaReferencia}" render="principal" />
                            <f:selectItem itemValue="1" itemLabel="Existan normas oficiales mexicanas u otras disposiciones que regulen las emisiones, las descargas, el aprovechamiento de recursos naturales y en general, todos los impactos ambientales relevantes que pueden producir las obras o actividades" />
                            <f:selectItem itemValue="2" itemLabel="Se trate de instalaciones ubicadas en parques industriales autorizados en los términos de la presente" />
                            <f:selectItem itemValue="3" itemLabel="Las obras o actividades de que se trate estén expresamente previstas por un plan parcial de desarrollo urbano o de ordenamiento ecológico que haya sido evaluado por la Secretaría en términos del artículo siguiente:" />
                        </h:selectOneRadio>
                    </h:panelGroup>
                    <br/>
                    <h:panelGroup id="nom" rendered="#{supuestosView.nom}">
                        Normas Oficiales Mexicanas
                        <h:selectOneRadio layout="pageDirection" value="#{supuestosView.normaSeleccionada}" converter="#{catNomConverterBean}">
                            <f:ajax listener="#{supuestosView.seleccionaNom}" render="principal" />
                            <f:selectItems value="#{supuestosView.catNom}" />
                        </h:selectOneRadio>
                    </h:panelGroup>
                    <br/>
                    <h:panelGroup id="pregs" rendered="#{supuestosView.preg}">
                        Cuestionario Norma
                        <h:dataTable value="#{supuestosView.preguntas}" var="preg">
                            <h:column>
                                <h:outputText value="#{preg.catPregunta.preguntaDescripcion}" />

                                <h:selectOneRadio value="#{preg.preguntaRespuesta}" >
                                    <f:selectItem itemValue="S" itemLabel="Si"  />
                                    <f:selectItem itemValue="N" itemLabel="No"  />
                                </h:selectOneRadio>

                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                    <h:panelGroup id="espe" rendered="#{supuestosView.espe}">
                        <h:dataTable value="#{supuestosView.especifiaciones}" var="esp">
                            <h:column>
                                #{esp.catEspecificacion.catEspecificacionPK.especificacionId}
                            </h:column>
                            <h:column>
                                #{esp.catEspecificacion.especificacionDescripcion}
                            </h:column>
                            <h:column>
                                <h:inputTextarea value="#{esp.especificacionJustificacion}" />
                            </h:column>
                            <h:column>

                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>

                    <h:commandButton value="Guardar" action="#{supuestosView.guardar}"/>


                </h:panelGroup>
            </h:form>

        </ui:define>
    </ui:composition>
</html>