<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:view contentType="text/html">
        <h:head>
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/app.css" />
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Ejemplo3</title>
        </h:head>
        <h:body>
            <table>
                <tr>
                    <td valign="top">
                        <h:form>
                            <h:commandLink value="capitulo 1" action="cap1?faces-redirect=true"/>
                            <br/>
                            <h:commandLink value="capitulo 2" action="cap2?faces-redirect=true"/>
                        </h:form>
                    </td>
                    <td>
                        <ui:insert name="content">
                        </ui:insert>                        
                    </td>
                </tr>
            </table>
        </h:body>
    </f:view>
</html>
