<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>
        Todo lo que se escriba antes de esta línea será borrado
        <ui:composition>
            <div class='panel-group ficha-collapse' id='accordion'>
                <h:panelGroup id="porcentajes">
                    <h:panelGroup rendered="#{principalView.finTramite}">
                        <!--AAOC 17/07.- Se eliminó el estilo de panel y se cambió por un estilo de botón de tipo success
                            AAOC 17/07.- Se agregó un icono y se cambio el estilo de la letra 
                        -->
                        <p:commandLink styleClass="btn btn-success btn-block" 
                                    action="#{principalView.finaliza}" update=":main_menu_form"
                                    onclick="if (!confirm('Sus datos se enviarán y ya no podrán modificarse, ¿Desea continuar?')) return false;this.firstChild.innerHTML = 'Cerrando...';"
                                   onsuccess="">
                            <span class="glyphicon glyphicon-thumbs-up txtBtn"></span><span class="txtBtn">    Cerrar tr&aacute;mite</span>
                        </p:commandLink>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{principalView.pdf}">
                        <!--AAOC 17/07.- Se agregó un icono y se cambio el estilo de la letra-->
                        <a class="btn btn-primary btn-block" href="#{request.contextPath}/ResumenPDF?params=#{cap34.proyecto.proyectoPK.folioProyecto},#{cap34.proyecto.proyectoPK.serialProyecto}&amp;t=#{principalView.time}" target="_blank">
                            <i class="glyphicon glyphicon-file txtComp"></i><span class="txtComp">  Visualizar PDF</span>
                        </a> 
                    </h:panelGroup>
                </h:panelGroup>
                <h:panelGroup rendered="#{principalView.capitulo1}">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-parent="#accordion" data-toggle="collapse" href="#panel-01">
                                Cap&iacute;tulo 1
                          </a>
                        </h4>
                        <button type="button" class="collpase-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-01" aria-expanded="false" aria-controls="panel-01"></button>
                      </div>
                      <div class="panel-collapse collapse out" id="panel-01">
                        <div class="panel-body">
                            <div class="list-group">
                               <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo1/cap1_Supuestos.xhtml');
                                                actualizaBreadCrumb('Capítulo 1 > Supuestos')">Supuestos</a>
                            </div>
                        </div>
                      </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{principalView.capitulo2}" >
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title collapsed">
                          <a data-parent="#accordion" data-toggle="collapse" href="#panel-02">
                              Cap&iacute;tulo 2
                          </a>
                        </h4>
                        <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-02" aria-expanded="false" aria-controls="panel-02"></button>
                      </div>
                      <div class="panel-collapse collapse out" id="panel-02">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo2/2_1DatosGralProy/cap21_DatosGralProy.xhtml');
                                        actualizaBreadCrumb('Capítulo 2 > Datos generales del proyecto')">Datos Generales del Proyecto</a>
                                <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo2/2_2DatosGralProm/cap22_DtsGralUbic.xhtml');
                                        actualizaBreadCrumb('Capítulo 2 > Datos Generales del Promovente')">Datos Generales del Promovente</a>
                                <!--<a href="#" class="list-group-item" onClick="cambiaIframe('capitulo2/2_2DatosGralProm/cap222_ubicProm.xhtml');"> Domicilio</a>-->
                                <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo2/2_3DatosGralRepLeg/cap231_DatGralPL.xhtml');
                                        actualizaBreadCrumb('Capítulo 2 > Datos Generales del Representante Legal')">Datos Generales del Representante Legal</a>
                                <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo2/2_4DatosGralREEIA/cap241_DatGralREEIA.xhtml');
                                        actualizaBreadCrumb('Capítulo 2 > Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental')">Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental</a>
                            </div>
                        </div>
                      </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{principalView.capitulo3}" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title collapsed">
                                <a data-parent="#accordion" data-toggle="collapse" href="#panel-03">
                                    Capítulo 3
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-03" aria-expanded="false" aria-controls="panel-03"></button>
                        </div>
                        <div class="panel-collapse collapse out" id="panel-03">
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo3/3_1DesGralProy/cap31_AspTecAmb.xhtml');
                                        actualizaBreadCrumb('Capítulo 3 > Descripción General de la Obra o Actividad y/o Proyectos')">Descripción General de la Obra o Actividad y/o Proyectos</a>
                                    <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo3/3_2Sust/cap32_Sustan.xhtml');
                                        actualizaBreadCrumb('Capítulo 3 > Sustancias')">Sustancias</a>
                                    <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo3/3_3Emi_Res_Descargas/cap33_1EmisionResDes.xhtml');
                                        actualizaBreadCrumb('Capítulo 3 > Emisiones, residuos, descargas')">Emisiones, residuos, descargas</a>
                                    <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo3/3_4Descr_Amb_AInflu/cap34_DescripAmbInfl.xhtml');
                                        actualizaBreadCrumb('Capítulo 3 > Descripción del ambiente en área de influencia del proyecto')">Descripción del ambiente en área de influencia del proyecto</a>
                                    <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo3/3_5Res_Eval_Imp/cap35_IdenImpAmb.xhtml');
                                        actualizaBreadCrumb('Capítulo 3 > Resultados de la Evaluación de los Impactos Ambientales')">Resultados de la Evaluación de los Impactos Ambientales</a>
                                    <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo3/3_6Descr_Cond_Espec/cap36_DesCondEsp.xhtml');
                                        actualizaBreadCrumb('Capítulo 3 > Descripción de las Condiciones Especiales')">Descripción de las Condiciones Especiales </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
                <div class='panel panel-default' id="mnu_principal_cap4" style="display: none">
                    <div class="panel-heading">
                      <h4 class="panel-title collapsed">
                        <a data-parent="#accordion" data-toggle="collapse" href="#panel-04">
                            Estudio de Riesgo Ambiental
                        </a>
                      </h4>
                      <button type="button" class="collpase-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-04" aria-expanded="false" aria-controls="panel-04"></button>
                    </div>
                    <div class="panel-collapse collapse out" id="panel-04">
                      <div class="panel-body">
                          <div class="list-group">
                              <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo4/4_1DatosResponEstRies/cap41_DatRespEstdRiego.xhtml');
                                      actualizaBreadCrumb('Estudio de Riesgo Ambiental > Datos del Responsable del Estudio de Riesgo')">Datos del Responsable del Estudio de Riesgo</a>
                              <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo4/4_2EscRiesgAmbProy/42_EscRiegAmbProy.xhtml');
                                      actualizaBreadCrumb('Estudio de Riesgo Ambiental > Escenarios de los riesgos ambientales relacionados con el proyecto')">Escenarios de los riesgos ambientales relacionados con el proyecto</a>
                              <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo4/4_3DescMedProtec/43_DescMedprevInst.xhtml');
                                      actualizaBreadCrumb('Estudio de Riesgo Ambiental > Descripción de las medidas de protección en torno a las instalaciones')">Descripción de las medidas de protección en torno a las instalaciones</a>
                              <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo4/4_4SenalMedSegMatAmb/44_SenMedSeg.xhtml');
                                      actualizaBreadCrumb('Estudio de Riesgo Ambiental > Señalamiento de las medidas de seguridad y preventivas en materia ambiental')">Señalamiento de las medidas de seguridad y preventivas en materia ambiental</a>
                              <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo4/4_5Resumen/45_Resumen.xhtml');
                                      actualizaBreadCrumb('Estudio de Riesgo Ambiental > Resumen')">Resumen</a>
                              <a href="#" class="list-group-item" onClick="cambiaIframe('capitulo4/4_6Identificacion/46_Identifiacion.xhtml');
                                      actualizaBreadCrumb('Estudio de Riesgo Ambiental > Identifiación de los instrumentos')">Identifiación de los instrumentos</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </ui:composition>
        Todo lo que se escriba después de esta línea será borrado
    </body>
</html>
