<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
        Todo lo que se escriba antes de esta línea será borrado
        <ui:composition>
            <script src="http://framework-gb.cdn.gob.mx/gobmx.js"></script>
        </ui:composition>
        Todo lo que se escriba después de esta línea será borrado
    </body>
</html>
