<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:metadata>
            <f:viewParam name="folioProy" value="#{principalView.folio}" />
        </f:metadata>
        <title>IP Versión Beta 1.0</title>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Last-Modified" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <!--AAOC 17/07.- Se eliminan los siguientes elementos
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>-->
        <link href="http://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet" />
        <!--AAOC 17/07.- Se agrega una nueva hoja de estilos para eliminar todos los 
        style que se encuentran dispersos por el sistema-->
        <link href="assets/css/dgiraIP.css" rel="stylesheet" />
        <script language="JavaScript" type="text/javascript">
            function cambiaIframe(destino) {
                //alert("destino: "+destino);
                document.getElementById('ifrmPrincipal').src = destino;
            }
            function actualizaBreadCrumb(destino) {
                document.getElementById('breadCrumb').innerHTML = destino;
            }
        </script>
        <script language="JavaScript" type="text/javascript">
            function cambiaBarr(destinos) {
                document.getElementById('barracarga').src = destinos;
            }

        </script>
    </h:head>
    <h:body>
        <f:view>
            <h:form id='main_menu_form'>
                <div id="header">
                    <ui:insert>                
                        <ui:include src="cabecera.xhtml" />
                    </ui:insert>
                </div>
                <div id="content" class="container-fluid">
                    <div id="filaContent" class="row">
                        <div id="barraHeader" class="col-lg-12 col-md-12 col-sm-12">
                            <div id="filaBarra" class="row">
                                <div id="lineaUbic" class="col-lg-6 col-md-6 col-sm-6">
                                    <div id="breadCrumb" class="breadcrumb" > 
                                        Inicio
                                    </div>
                                </div>
                               <div id="barraProg" class="col-lg-6 col-md-6 col-sm-6">
                                    <h:panelGroup id="progreso">
                                        <div class="progress">
                                            <div  class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: #{principalView.avance}%;">
                                                <span>#{principalView.avance}%</span>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                            <div class="row">
                                <div id="menu" class="col-lg-2 col-md-2 col-sm-1">
                                    <!-- Menu  lateral -->
                                    <h:panelGroup id="main_menu_lat">
                                        <ui:insert name="header" >
                                            <ui:include src="menu.xhtml">
                                            </ui:include>
                                        </ui:insert>
                                    </h:panelGroup>
                                    <!-- Main -->
                                </div>
                                <!-- Menu Principal -->
                                <iframe id="ifrmPrincipal" frameborder="0" src="" class="col-lg-10 col-md-10 col-sm-10" style="height:18500px;overflow:auto; resize: horizontal">

                                </iframe>
                                <!--<div id="ifrmPrincipal">

                                    </div>
                                    <div id="bloques">
                                </div>-->
                                <!-- Main -->
                            </div>
                        </div>
                    </div>
                    <script>
                        function menu4(normaId) {
                            $('#mnu_principal_cap4').show();

                        }

                        function oculta_menu4(normaId) {
                            $('#mnu_principal_cap4').hide();

                        }

                        function recargaMenu() {
                            // recargar_menu();
                        }
                    </script>
                    <p:remoteCommand name="actualizaBarra" update="progreso"/>
                    <p:remoteCommand name="actualizaMenu" update="porcentajes"/>
                    <p:remoteCommand name="recargar_menu" update="@form" >
                        <f:setPropertyActionListener target="#{principalView.capitulo1}" value="true" />
                    </p:remoteCommand>
                    <!-- Verificar si selecciono la norma 129 -->
                    <c:if test="#{principalView.norma129}">
                        <script>
                            menu4('129');
                        </script>
                    </c:if>
                    <c:if test="#{principalView.error}">
                        <script>
                            alert('#{principalView.message}');
                        </script>
                    </c:if>
                </div>
            </h:form>
        </f:view>
        <!-- Footer -->
            <!-- AAOC 17/07 
              Se actualizó el footer y será llamado en todas las páginas para respetar la estructura que solicita bootstrap para su uso-->
            <ui:insert id="footer">
                <ui:include src="pie.xhtml" />
            </ui:insert>
        <!-- Footer -->    
    </h:body>
</html>
