<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>       

    </h:head>
    <body>

        <h:form id="f_cap23">
            <div id="DatosGeneralesRL"  >
                <h3>Datos Generales del Representante Legal.</h3>
                <p:dataTable styleClass="table" emptyMessage="No hay datos registrados"
                             id="tablaRepLegal" selection="#{cap2RepLegal.representantesSelect}"
                             value="#{cap2RepLegal.representantes}" var="repLegal">
                    <f:facet name="header">
                        <p:outputLabel value="Representante Legal"/>
                    </f:facet>
                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                    <p:column headerText="CURP">
                        <p:outputLabel value="#{repLegal.vccurp}"/>
                    </p:column>
                    <p:column headerText="Nombre">
                        <p:outputLabel value="#{repLegal.vcnombre}" />
                    </p:column>
                    <p:column headerText="Apellido Paterno">
                        <p:outputLabel value="#{repLegal.vcapellido1}" />
                    </p:column>
                    <p:column headerText="Apellido Materno">
                        <p:outputLabel value="#{repLegal.vcapellido2}" />
                    </p:column>
                    <p:column headerText="Correo Electrónico">
                        <p:outputLabel value="#{repLegal.vccorreo}" />
                    </p:column>
                </p:dataTable>
                <div style="float: right; margin-right: 10px; " class="blockquote-reverse">
                    <p:commandButton value="Guardar" action="#{cap2RepLegal.guardar}"
                                     onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra();parent.actualizaMenu();" onclick="this.firstChild.innerHTML='Guardando...';this.disabled = true;"
                                     oncomplete="parent.recargaMenu();" class="btn btn-primary" process="@form" update="@this"/>
                </div> 
            </div>
        </h:form>   

    </body>
</html>
