<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>
   
        <h:dataTable styleClass="table" value="#{dgiraCargaArchivos.archivosAnexos}" var="archivo">
            <h:column>
                <f:facet name="header"></f:facet>
                <h:commandLink action="#{dgiraCargaArchivos.quitarArchivo(archivo.id)}" rendered="#{archivo.estado eq false}">
                    <h:graphicImage alt="Eliminar" value="../../assets/images/gobmx/icons/panel-collapsed.png"/>
                </h:commandLink>
                <h:inputHidden value="#{archivo.capituloId}"  />
            </h:column>
            <h:column>
                <f:facet name="header">
                    <span class="requerido">Descripción</span>
                </f:facet>
                <h:inputTextarea rows="1" value="#{archivo.descripcion}" rendered="#{archivo.estado eq false}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <span class="requerido">Archivo</span>
                </f:facet>
                <h:inputFile value="#{archivo.file}" rendered="#{archivo.estado eq false}" validator="#{dgiraCargaArchivos.validataArchivo}"/>
                <h:outputText value="Archivo guardado con exito." rendered="#{archivo.estado eq true}"/>
            </h:column>
            <h:column>
                <f:facet name="header" class="requerido">
                    <h:commandLink action="#{dgiraCargaArchivos.agregarArchivo}" >
                        <h:graphicImage alt="Agregar" value="../../assets/images/gobmx/icons/panel.png"/>
                    </h:commandLink>
                </f:facet>
            </h:column>
        </h:dataTable>

        <div class="form-group" style="float: right;margin-right:10px;">
            <h:commandButton styleClass="btn btn-default" value="Cancelar" />
            &#160;&#160;&#160;&#160;&#160;
            <h:commandButton styleClass="btn btn-primary" value="Guardar" action="#{dgiraCargaArchivos.guardarArchivosAnexos(seccion_id,capitulo_id,sub_capitulo_id,folio_proyecto,serial_proyecto)}"/>
        </div>	

    </ui:composition>
</html>
