<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>

    </h:head>
    <h:body>
        <form enctype="multipart/form-data" action="#{request.contextPath}/cargarArchivo" method="post">
            <input type="hidden" name="algo" value="2" />
            <table class="table" id="modArch_tab1" style="width: 300px">
                <tbody>
                    <tr>
                        <td><input type="file" style="width:250px"  id="cinfil1" name="cinfil1"/></td>
                    </tr>
                    <tr>
                        <td style="float: left"><input type='submit' class="btn btn-primary" value="Adjuntar" /></td>
                    </tr>
                </tbody>
            </table>


        </form>
    </h:body>
</html>