<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/funciones.js"></script>
        <script src="../../assets/js/vendor/bootstrap.js"></script>
        <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <h:body>
        <h:form>
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="pSeConEs" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Señalar las Conclusiones del Estudio de Riesgo Ambiental</h3>
                Ayuda <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/><center>
                    <pe:ckEditor value="#{capitulo4View.estudio.estudioSenalaConclusion}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                </center>
                Anexos:
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,5,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>

            <div id="pHaReSi" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental</h3>
                Ayuda <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/><center>
                    <pe:ckEditor value="#{capitulo4View.estudio.estudioResumenSituacion}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                </center>
                Anexos:
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,5,2,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>

            <div id="pPreInTe" style="margin-left: auto; margin-right: auto; width: 960px">
                <h3>Presentar el Informe Técnico Debidamente Llenado</h3>
                Ayuda <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                <br/><br/><center>
                    <pe:ckEditor value="#{capitulo4View.estudio.estudioInformeTecnico}" width="700"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                </center>
                Anexos:
                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,5,3,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
            </div>

            
            <br/>
            <div style="float: right">

                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo4View.guardar}"
                                 update="@this" process="@form"
                                 onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); parent.actualizaMenu();"
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
            </div>
        </h:form>
        <script>
            $('#case_btn_ayuda').click({capitulo: 4, subcapitulo: 5, seccion: 1, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda1').click({capitulo: 4, subcapitulo: 5, seccion: 2, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda2').click({capitulo: 4, subcapitulo: 5, seccion: 3, nsec: 1}, case_ayuda);
        </script>

    </h:body>
</html>
