<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>       

    </h:head>
    <body>

        <h:form id="f_cap22">

            <h:panelGroup id="principal" rendered="#{!promoventeView.vacio}">

                
                <div id="DatosGeneralesProm" >

                    <p:growl id="messages"/>  
                    <h3>Datos Generales.</h3>
                    
                            <div class="form-group">
                                <label class="control-label" for="NombProm">Nombre del Promovente:</label>
                                <h:inputText  value="#{promoventeView.promovente.vcnombre} #{promoventeView.promovente.vcapellidopaterno} #{promoventeView.promovente.vcapellidomaterno}" 
                                              class="form-control" disabled="true" rendered="#{promoventeView.promovente.vctipopersona eq 'FIS'}"/>
                                <h:inputText  value="#{promoventeView.promovente.vcrazonsocial}" 
                                              class="form-control" disabled="true" rendered="#{promoventeView.promovente.vctipopersona eq 'MOR'}"/>
                            </div>
                    
                            <div class="form-group">
                                <label class="control-label" for="RFCProm">RFC:</label>
                                <h:inputText class="form-control" disabled="true"  value="#{promoventeView.promovente.vcrfc}"/>
                            </div>
                    <h3>Domicilio</h3>
                    <br/><br/>
                    <h:panelGrid columns="1" style="width:100%">
                        <h:outputLabel value="C&#243;digo postal:" />
                        <p:inputText class="form-control" value="#{promoventeView.promovente.vcdCodigoLk}" disabled="true" />

                        <h:outputLabel value="Tipo de vialidad:" />
                        <p:inputText class="form-control" value="#{promoventeView.vialidad}" disabled="true" />

                        <h:outputLabel value="Nombre de la vialidad" />
                        <p:inputText class="form-control" value="#{promoventeView.promovente.vcnombrevialidad}" disabled="true" />

                        <h:panelGrid columns="2" style="width:100%">
                            <h:panelGroup>
                                <h:outputLabel value="Número exterior:" />
                                <p:inputText class="form-control" value="#{promoventeView.promovente.vcnumexterior}" disabled="true" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:outputLabel value="Número interior:" />
                                <p:inputText class="form-control" value="#{promoventeView.promovente.vcnuminterior}" disabled="true" />
                            </h:panelGroup>
                        </h:panelGrid>

                        <h:outputLabel value="Tipo de asentamiento:" />
                        <p:inputText class="form-control" value="#{promoventeView.asentamiento}" disabled="true" />

                        <h:outputLabel value="Nombre del asentamiento:" />
                        <p:inputText class="form-control" value="#{promoventeView.promovente.vcdAsentaLk}" disabled="true" />

                        <h:outputLabel value="Localidad:" />
                        <p:inputText class="form-control" value="#{promoventeView.promovente.vclocalidad}" disabled="true" />

                    </h:panelGrid>
                </div> 
            </h:panelGroup>
            <h:panelGroup rendered="#{promoventeView.vacio}">
                <div class="alert alert-danger">
                            <h:outputLabel value="No hay datos registrados del promovente."/>
                        </div>
            </h:panelGroup>
        </h:form>
    </body>
</html>
